<html xmlns="http://www.w3.org/1999/xhtml" lang="en" xml:lang="en">
<head>
<title>Katashi</title>

<!-- meta -->
<meta http-equiv="Content-Type" content="text/html; charset=utf-8" />

<!-- stylesheets -->
<link rel="stylesheet" type="text/css" href="javascript/ext/resources/css/ext-all.css" />
<link rel="stylesheet" type="text/css" href="css/extension/Ext.ux.tot2ivn.VrTabPanel.css" />
<link rel="stylesheet" type="text/css" href="css/extension/fileuploadfield.css" />
<link rel="stylesheet" type="text/css" href="css/prettyPhoto.css" media="screen" />
<link rel="stylesheet" type="text/css" href="css/style.css" media="screen" />

<script type="text/javascript" src="javascript/prettyphoto/jquery-1.3.2.min.js"></script>
<script type="text/javascript" src="javascript/prettyphoto/jquery.prettyPhoto.js"></script>

</head>
<body>

<script>
{$base_ui}</script>

<div id="preload-mask"></div>
<div id="preload"><div class="preload-indicator"><img src="images/preloader/katashi.gif" width="100" height="87" style="margin-bottom:10px;" alt="" /><br />Katashi®<br /><span class="preload-msg" id="preload-msg">Uruchamianie aplikacji</span></div></div>

<!-- javascripts configuration -->
{$js0}
<!-- javascripts main -->
<script type="text/javascript" src="javascript/ext/adapter/ext/ext-base.js"></script>
<script type="text/javascript" src="javascript/ext/ext-all.js"></script>
<script type="text/javascript" src="javascript/ext/extension/Ext.ux.tot2ivn.VrTabPanel.js"></script>
<script type="text/javascript" src="javascript/ext/extension/FileUploadField.js"></script>
<script type="text/javascript" src="javascript/ext/extension/Ext.PageToolbar.Upload.js"></script>

<!-- javascripts library -->
<script type="text/javascript">document.getElementById('preload-msg').innerHTML = 'Ładowanie Bibliotek';</script>
<script type="text/javascript" src="javascript/swfobject/swfobject.js"></script>
<script type="text/javascript" src="javascript/prettyphoto/jquery-1.3.2.min.js" ></script>
<script type="text/javascript" src="javascript/prettyphoto/jquery.prettyPhoto.js"></script>

<!-- javascript component -->
{$js1}
<!-- javascript module -->
{$js2}
{$js3}
{$js4}
{$js5}
{$js6}
<!-- javascript helper -->
<script type="text/javascript" src="javascript/helper/helper_delete.js"></script>
<script type="text/javascript" src="javascript/helper/helper_ui.js"></script>

<!-- javascript ui -->
<script type="text/javascript">document.getElementById('preload-msg').innerHTML = 'Ładowanie Interfejsu...';</script>
<script type="text/javascript" src="javascript/ui/viewport.js"></script>