{include file="header.html"}
{literal}
<script type="text/javascript">
// sencha ready
Ext.onReady(function(){
	
	// ext addons settings
	Ext.state.Manager.setProvider(new Ext.state.CookieProvider());
	Ext.QuickTips.init();
	
	// ajax settings
	Ext.Ajax.disableCaching = true;
	Ext.Ajax.timeout = 180000;
	
	// current date
	date_today = new Date().format('Y-m-d');
	
	// viewport
	viewport = new Viewport();
	viewport.init();
	viewport.construct_ui();
	
});

// fade out preloader
setTimeout(function(){
	Ext.get('preload').remove();
	Ext.get('preload-mask').fadeOut({remove:true});
}, 500);

// initialize pretty photo
$(document).ready(function(){
	$("a[rel^='prettyPhoto']").prettyPhoto();
});
</script>
{/literal}
{include file="footer.html"}