{include file="extension/header.html"}
        <div id="content">
            <div class="content_left">
                <div class="box_sub" style="margin-left: -2px;">
                    <div class="box_header2">
                        {if $fb_status == 1}
                        <img src="{$user_image}" width="46" height="46" />
                        {/if}
                        {if $user_status == 1}
                        {if $user_image == 'default.jpg'}
                        <img src="{$media_url}image/default/default.jpg" alt="" />
                        {/if}
                        <img src="{$media_url}image/46x35/{$user_image}" alt="" width="46" height="46" />
                        {/if}
                        <h2 style="margin-top: 12px; margin-left: 10px;">{$tab_title} / {$user_nick}</h2>
                    </div>
                    <div class="box_content" style="margin-left: 6px; width: 645px;">
                        {include file="account/menu.html"}
                        {include file="account/$tab.html"}
                    </div>
                </div>
            </div>
            <div class="content_right">
                {include file="extension/column_account.html"}
            </div>
        </div>
    </div>
{include file="extension/footer.html"}