{include file="extension/header.html"}
        <div id="content">
            {if $operation}
            <div class="content_left">
                <div class="box_sub">
                </div>
            </div>
            {else}
            <div class="content_left">
                <div class="box_sub">
                    <div class="box_header2">
                        <h2>RESETUJ HASŁO</h2>
                    </div>
                    <div class="box_content">
                        <p class="big"><strong>Na podany adres otrzymasz instrukcję jak zresetować hasło.</strong></p>
                        <div class="account_content" style="padding: 0px;">
                            <form class="account" action="{$app_url}run/password_reset/password_reset_ui" method="post" id="sign_up_form">
                            <fieldset>
                                <p>
                                    <input class="text" name="user" type="text" /><label>Login (e-mail) *</label></p></fieldset>
                            </fieldset>
                            <p>*) Pola oznaczone gwiazdką muszą zostać wypełnione.<br><br></p>
                            <p>
                                <input type="submit" class="submit reset_password" />
                            </p>
                            </form>
                        </div>
                    </div>
                </div>
            </div>
            {/if}
            <div class="content_right">
                {if $fb_status == 1 or $user_status == 1}
                    {include file="extension/column_account.html"}
                {else}
                    {include file="extension/column_login.html"}
                {/if}
                {include file="extension/column_howto1.html"}
                {include file="extension/column_adv1.html"}
                {include file="extension/column_radio.html"}
            </div>
        </div>
    </div>    
<script type="text/javascript"> 
{literal}
$("#agree").change(function(){
	$('#agree_error').remove();
})

$.validator.setDefaults({
    submitHandler: function() {
        valid1 = true;
        valid2 = true;
        //
        if (valid1 && valid2) {
            var form = document.forms["sign_up_form"];
            form.submit();
        }
    }
});
 
$().ready(function() {
	// validate signup form on keyup and submit
	var required  = "To pole jest wymagane";
	var email 	  = "Wpisz prawidłowy adres e-mail";
	var minlength = "To pole powinno zawierać<br>co najmniej 3 znaki";
    var maxlength = "To pole nie może mieć więcej<br>niż 20 znaków"
	var password  = "Hasło musi składać się<br>z co najmniej 6 znaków";
	var confirm_pass = "Hasła się nie zgadzają";

	$("#sign_up_form").validate({
        debug: true,
        rules: {
			nick: {
				required: true,
				minlength: 3,
                maxlength: 20
			},
			password: {
				required: true,
				minlength: 6
			},
			password2: {
				required: true,
				minlength: 6,
				equalTo: "#password"
			},
			user: {
				required: true,
				email: true
			}
		},
		messages: {
			nick: {
				required: required,
				minlength: minlength,
                maxlength: maxlength
			},
			password: {
				required: required,
				minlength: password
			},
			password2: {
				required: required,
				minlength: password,
				equalTo: confirm_pass
			},
			user: email
		}
	});
});
{/literal}
</script> 
{include file="extension/footer.html"}
