<script type="text/javascript">
{literal}

// parameters
var daf = new Date();
var dat = new Date();
dat.setMonth(daf.getMonth()+1);

// panel
var config = new Object({
	title: 'Dodaj Partnera',
	items: [{
        allowBlank: false,
        fieldLabel: 'Nick',
        name: 'nick',
        width: 350,
        xtype: 'textfield'
    },{
        allowBlank: false,
        fieldLabel: 'Użytkownik',
        name: 'user',
        width: 350,
        xtype: 'textfield'
    },{
        allowBlank: false,
        fieldLabel: 'Hasło',
        name: 'password',
        width: 350,
        xtype: 'textfield'
    },{
        allowBlank: false,
        fieldLabel: 'Imie',
        name: 'name',
        width: 350,
        xtype: 'textfield'
    },{
        allowBlank: false,
        fieldLabel: 'Nazwisko',
        name: 'surname',
        width: 350,
        xtype: 'textfield'
    },{
        fieldLabel: 'Adres',
        name: 'address',
        width: 350,
        xtype: 'textfield'
    },{
        fieldLabel: 'Miasto',
        name: 'city',
        width: 350,
        xtype: 'textfield'
    },{
        fieldLabel: 'Kod Pocztowy',
        name: 'zip',
        width: 350,
        xtype: 'textfield'
    },{
        fieldLabel: 'Kraj',
        name: 'country',
        width: 350,
        xtype: 'textfield'
    },{
        fieldLabel: 'mobile',
        name: 'mobile',
        width: 350,
        xtype: 'textfield'
    },{
        fieldLabel: 'Data urodzenia',
        name: 'birth_year',
        width: 350,
        xtype: 'datefield'
    },{
        fieldLabel: 'Płatności24 ID',
        name: 'p24_id_sprzedawcy',
        width: 350,
        xtype: 'textfield'
    },{
        fieldLabel: 'Płatności24 CRC',
        name: 'p24_crc',
        width: 350,
        xtype: 'textfield'
    },{
        fieldLabel: 'płeć',
        name: 'gender',
        width: 350,
        xtype: 'radiogroup',
        items: [
            {boxLabel: 'Mężczyzna', name: 'gender', inputValue: 1},
            {boxLabel: 'Kobieta', name: 'gender', inputValue: 2}
        ]
    },{
        fieldLabel: 'Info',
        name: 'about',
        width: 550,
        height: 250,
        xtype: 'htmleditor'
    },{
        fieldLabel: 'Firma',
        name: 'company',
        width: 350,
        xtype: 'textfield'
    },{
        fieldLabel: 'Firma Nazwa',
        name: 'company_name',
        width: 350,
        xtype: 'textfield'
    },{
        fieldLabel: 'Nip',
        name: 'company_nip',
        width: 350,
        xtype: 'textfield'
    },{
        fieldLabel: 'Firma Adres',
        name: 'company_address',
        width: 350,
        xtype: 'textfield'
    },{
        fieldLabel: 'Firma Miasto',
        name: 'company_city',
        width: 350,
        xtype: 'textfield'
    },{
        fieldLabel: 'Kod Pocztowy Firmy',
        name: 'company_zip',
        width: 350,
        xtype: 'textfield'
    },{
        fieldLabel: 'Firma Tel.',
        name: 'company_phone',
        width: 350,
        xtype: 'textfield'
    },{
        fieldLabel: 'Marketing',
        name: 'checkbox_marketing',
        xtype: 'checkbox'
    },{
        fieldLabel: 'Newsletter',
        name: 'checkbox_newsletter',
        xtype: 'checkbox'
    },{
        fieldLabel: 'Zdjęcie',
        name: 'image',
        buttonText: 'Wybierz plik',
        xtype: 'fileuploadfield'
    },{
        fieldLabel: 'Aktywny',
        name: 'active',
        xtype: 'checkbox'
    }],
	buttons: [{
		handler: partner_add_fps,
		text: 'Dodaj'
	}]
});
partner_add_fp = new FormPanel();
partner_add_fp.init(config);
partner_add_fp.display.render(Ext.get('div_partner_add'));

// submit
function partner_add_fps() {
	partner_add_fp.display.form.submit({
		method: 'POST',
		url: base_url+'/plociuchy:partner'+'/add',
		success: function() {
			Ext.MessageBox.alert('Informacja', 'Gotowe');
			partner_add_fp.display.getForm().reset();
            partner_store.display.reload();
		},
		failure: function() {
			Ext.MessageBox.alert('Informacja', 'Błąd');
		},
		waitMsg: 'Oczekiwanie'
	});
}
{/literal}
</script>
<div id="div_partner_add"></div>