<script type="text/javascript">
{literal}

// fields
var fields = new Array('id', 'nick', 'user', 'name', 'surname', 'zip', 'city','address','country','mobile','birth_year','gender','about','company','company_name','company_nip','company_city','company_address','company_country','company_phone','checkbox_marketing','checkbox_newsletter','image','active','date_added','date_activated', 'date_added');
var config = new Object({
	fields: fields,
	format: 'json',
	id: 'partner_store',
    remoteSort: true,
	url: base_url+'/plociuchy:partner'+'/load_all'
});
partner_store = new Store();
partner_store.init(config);

// filter field
var config = new Object({
    allowBlank: true,
    enableKeyEvents: true,
    id: 'filter_keyword',
    name: 'filter_keyword',
    value: '',
    xtype: 'textfield',
    width: 100,
    listeners: {
        specialkey: function(field, e) {
            if (e.getKey() == e.ENTER) {
                filter_search_add(field.getValue());
            }
        }
    },
});
filter = new Ext.form.TextField(config);
// filter search button
var config = new Object({
    id: 'filter_search',
    iconCls: 'magnifier',
    style: 'padding-left:3px;',
    text: 'Filtruj',
    listeners: {
        click: function(button, e) {
            query = Ext.getCmp('filter_keyword');
            filter_search_add(query.getValue());
        }
    }
});
filter_search = new Button();
filter_search.init(config);
// filter delete button
var config = new Object({
    id: 'filter_delete',
    iconCls: 'delete',
    text: 'Wyczyść',
    listeners: {
        click: function(button, e) {
            query = Ext.getCmp('filter_keyword');
            query.setValue('');
            filter_search_remove();
        }
    }
});
filter_delete = new Button();
filter_delete.init(config);

// paging toolbar
var config = new Object({
	store: partner_store.display,
	items: ['-',
		{
			iconCls: 'x-btn-text-icon page_add',
			handler: partner_add,
			text: 'Dodaj'
		},
        '-',
        filter,
        filter_search.display,
        '-',
        filter_delete.display
	]
});
partner_ptb = new PagingToolBar();
partner_ptb.init(config);

// grid
var config = new Object({
	store: partner_store.display,
	tbar: partner_ptb.display,
	title: 'Partner',
	columns: [
		{ id: 'id', dataIndex: 'id', header: 'Id', sortable: true },
		{ id: 'nick', dataIndex: 'nick', header: 'nick', sortable: true },
		{ id: 'user', dataIndex: 'user', header: 'user', sortable: true },
		{ id: 'name', dataIndex: 'name', header: 'Imie', sortable: true },
		{ id: 'surname', dataIndex: 'surname', header: 'Nazwisko', sortable: true },
		{ id: 'zip', dataIndex: 'zip', header: 'Zip', sortable: true },
		{ id: 'city', dataIndex: 'city', header: 'Miasto', sortable: true },
		{ id: 'address', dataIndex: 'address', header: 'Aders', sortable: true },
        { id: 'city', dataIndex: 'city', header: 'Miasto', sortable: true },
        { id: 'address', dataIndex: 'address', header: 'Aders', sortable: true },
        { id: 'date_added', dataIndex: 'date_added', header: 'Data dodania', sortable: true },
		{ id: 'options', header: 'Opcje', renderer: render_options, sortable: false }
	],
	listeners: {
		celldblclick: function(grid, rowIndex, columnIndex, e) {
			var record = grid.getStore().getAt(rowIndex);
 			var fieldName = grid.getColumnModel().getDataIndex(columnIndex);
			var data = record.get(fieldName);
			var data_id = record.get('id');
			var data_title = record.get('nick');
			partner_edit(data_id, data_title);
		}
	}
});
partner_grid = new EditorGridPanel();
partner_grid.init(config);

// panel
var config = new Object({
	items: [ partner_grid.display ]
});
partner_panel = new Panel();
partner_panel.init(config);
partner_panel.display.render(Ext.get('div_partner'));

// store
partner_store.display.load({ params: { start: 0, limit: _paging_limit }});
function partner_store_reload(index){
    partner.store.display.load({ params: { start: 0, limit: _paging_limit, id: index }});
}

// options
function render_options(value, p, record) {
    if (record.data.active == 0 ) {
        url = base_url+'/plociuchy:partner'+'/active_set/'+record.data.id+',1';
        img = 'cancel.png';
    } else {
        url = base_url+'/plociuchy:partner'+'/active_set/'+record.data.id+',0';
        img = 'accept.png';
    }
    return String.format('<a href="javascript:account('+record.data.id+',\''+record.data.nick+'\');"><img src="images/icon/book_open.png" border="0"></a> <a href="javascript:active(\''+url+'\');"><img src="images/icon/'+img+'" border="0"></a> <a href="javascript:partner_edit('+record.data.id+',\''+record.data.nick+'\');"><img src="images/icon/page_edit.png"></a> <a href="javascript:delete_confirm(\''+base_url+'/plociuchy:partner'+'/delete/'+record.data.id+'\');"><img src="images/icon/delete.png" border="0"></a>');
}

// account
function account(id, title) {
    tab_id = 'account';
    tab_title = 'Konto '+title;
    tab_url = base_url+'/plociuchy:partner_account/display';
    center.ui.tab_add(tab_id, tab_title, tab_url);
}

// add
function partner_add() {
    tab_id = 'partner_add';
    tab_title = 'Dodaj';
    tab_url = base_url+'/plociuchy:partner'+'/display_add';
    center.ui.tab_add(tab_id, tab_title, tab_url);
}

// edit
function partner_edit(id, title) {
    tab_id = 'partner_edit';
    tab_title = title;
    tab_url = base_url+'/plociuchy:partner'+'/display_edit/'+id;
    center.ui.tab_add(tab_id, tab_title, tab_url);
}

// delete
function delete_confirm(url) {
    new Helper_Delete().delete_confirm(url, 'grid', partner_store, null);
}

// active
function active(url) {
    new Helper_Ui().url_call(url, 'grid', partner_store, null);
}

// filter
function filter_search_add(query) {
    lastOptions = partner_store.display.lastOptions;
    lastOptions.params['query'] = query;
    partner_ptb.display.changePage(0);
}
function filter_search_remove() {
    lastOptions = partner_store.display.lastOptions;
    lastOptions.params['query'] = '';
    partner_ptb.display.changePage(0);
}

{/literal}
</script>
<div id="div_partner"></div>