<script type="text/javascript">
    {literal}

    // fields
    var fields = new Array('id', 'id_user', 'id_session', 'p24_session_id', 'p24_id_sprzedawcy','p24_kwota','p24_klient','p24_adres','p24_adres','p24_kod','p24_miasto','p24_kraj','p24_email','p24_metoda','p24_opis','p24_crc','p24_return_session_id','p24_return_order_id','p24_return_kwota','p24_return_error_code','p24_return_order_id_full','p24_return_karta','status','date_added','date_last_modified');
    var config = new Object({
        fields: fields,
        format: 'json',
        id: 'payment_p24_user_store',
        url: base_url+'/plociuchy:payment_p24_user'+'/load_all'
    });
    payment_p24_user_store = new Store();
    payment_p24_user_store.init(config);

    // paging toolbar
    var config = new Object({
        store: payment_p24_user_store.display,
        items: ['-'
//            {
//                iconCls: 'x-btn-text-icon page_add',
//                handler: payment_p24_user_add,
//                text: 'Dodaj'
//            }
        ]
    });
    payment_p24_user_ptb = new PagingToolBar();
    payment_p24_user_ptb.init(config);

    // grid
    var config = new Object({
        store: payment_p24_user_store.display,
        tbar: payment_p24_user_ptb.display,
        title: 'Płatności24 Użytkownik',
        columns: [
            { id: 'id', dataIndex: 'id', header: 'Id', sortable: true },
            { id: 'id_partner', dataIndex: 'id_partner', header: 'Id_Partner', sortable: true },
            { id: 'p24_id_sprzedawcy', dataIndex: 'p24_id_sprzedawcy', header: 'Id_sprzedawcy', sortable: true },
            { id: 'p24_klient', dataIndex: 'p24_klient', header: 'Klient', sortable: true },
            { id: 'p24_email', dataIndex: 'p24_email', header: 'Email', sortable: true },
            { id: 'p24_opis', dataIndex: 'p24_opis', header: 'Opis', sortable: true },
            { id: 'p24_adres', dataIndex: 'p24_adres', header: 'Adres', sortable: true },
            { id: 'p24_miasto', dataIndex: 'p24_miasto', header: 'Miasto', sortable: true },
            { id: 'p24_kod', dataIndex: 'p24_kod', header: 'Kod pocztowy', sortable: true },
            { id: 'p24_kraj', dataIndex: 'p24_kraj', header: 'Kraj', sortable: true },
            { id: 'p24_kwota', dataIndex: 'p24_kwota', header: 'Kwota', sortable: true },
            { id: 'status', dataIndex: 'status', header: 'Stauts', sortable: true },
            { id: 'date_created', dataIndex: 'date_created', header: 'Stworzony', sortable: true },
            //{ id: 'options', header: 'Opcje', renderer: render_options, sortable: false }
        ],
        listeners: {
//            celldblclick: function(grid, rowIndex, columnIndex, e) {
//                var record = grid.getStore().getAt(rowIndex);
//                var fieldName = grid.getColumnModel().getDataIndex(columnIndex);
//                var data = record.get(fieldName);
//                var data_id = record.get('id');
//                var data_title = record.get('p24_klient');
//                payment_p24_user_edit(data_id, data_title);
//            }
        }
    });
    payment_p24_user_grid = new EditorGridPanel();
    payment_p24_user_grid.init(config);

    // panel
    var config = new Object({
        items: [ payment_p24_user_grid.display ]
    });
    payment_p24_user_panel = new Panel();
    payment_p24_user_panel.init(config);
    payment_p24_user_panel.display.render(Ext.get('div_payment_p24_user'));

    // store
    payment_p24_user_store.display.load({ params: { start: 0, limit: _paging_limit }});
    function payment_p24_user_store_reload(index){
        payment_p24_user.store.display.load({ params: { start: 0, limit: _paging_limit, id: index }});
    }

    // options
    function render_options(value, p, record) {
        if (record.data.active == 0 ) {
            url = base_url+'/plociuchy:payment_p24_user'+'/active_set/'+record.data.id+',1';
            img = 'cancel.png';
        } else {
            url = base_url+'/plociuchy:payment_p24_user'+'/active_set/'+record.data.id+',0';
            img = 'accept.png';
        }
        //return String.format('<a href="javascript:active(\''+url+'\');"><img src="images/icon/'+img+'" border="0"></a> <a href="javascript:payment_p24_user_edit('+record.data.id+',\''+record.data.p24_klient+'\');"><img src="images/icon/page_edit.png"></a> <a href="javascript:delete_confirm(\''+base_url+'/plociuchy:payment_p24_user'+'/delete/'+record.data.id+'\');"><img src="images/icon/delete.png" border="0"></a>');
        return String.format('<a href="javascript:active(\''+url+'\');"><img src="images/icon/'+img+'" border="0"></a>');
    }

    // add
    function payment_p24_user_add() {
        tab_id = 'payment_p24_user_add';
        tab_title = 'Dodaj';
        tab_url = base_url+'/plociuchy:payment_p24_user'+'/display_add';
        center.ui.tab_add(tab_id, tab_title, tab_url);
    }

    // edit
    function payment_p24_user_edit(id, title) {
        tab_id = 'payment_p24_user_edit';
        tab_title = title;
        tab_url = base_url+'/plociuchy:payment_p24_user'+'/display_edit/'+id;
        center.ui.tab_add(tab_id, tab_title, tab_url);
    }

    // delete
    function delete_confirm(url) {
        new Helper_Delete().delete_confirm(url, 'grid', payment_p24_user_store, null);
    }

    // active
    function active(url) {
        new Helper_Ui().url_call(url, 'grid', payment_p24_user_store, null);
    }

    {/literal}
</script>
<div id="div_payment_p24_user"></div>