<script type="text/javascript">
{literal}

// parameters
var daf = new Date();
var dat = new Date();
dat.setMonth(daf.getMonth()+1);

// store
var fields = new Array('id', 'nick');
var config = new Object({
    fields: fields,
    format: 'json',
    id: 'partner_store',
    url: base_url+'/plociuchy:partner/load_all'
});
partner_store = new Store();
partner_store.init(config);

// store
var fields = new Array('id', 'text1');
var config = new Object({
    fields: fields,
    format: 'json',
    id: 'product_store',
    url: base_url+'/plociuchy:product/load_all'
});
product_store = new Store();
product_store.init(config);

// panel
var config = new Object({
	title: 'Dodaj Komentarz',
	items: [{
        allowBlank: false,
        fieldLabel: 'Partner',
        name: 'id_partner',
        displayField: 'nick',
        hiddenName: 'id_partner',
        editable: false,
        store: partner_store,
        triggerAction: 'all',
        width: 350,
        valueField: 'id',
        xtype: 'combo'
    },{
        allowBlank: false,
        fieldLabel: 'Product',
        name: 'id_product',
        displayField: 'text1',
        editable: false,
        store: product_store,
        hiddenName: 'id_product',
        triggerAction: 'all',
        width: 350,
        valueField: 'id',
        xtype: 'combo'
    },{
        allowBlank: false,
        fieldLabel: 'Tytuł',
        name: 'text1',
        width: 550,
        height: 250,
        xtype: 'htmleditor'
    },{
        allowBlank: false,
        fieldLabel: 'Nagłówek',
        name: 'text2',
        width: 550,
        height: 250,
        xtype: 'textarea'
    }],
	buttons: [{
		handler: product_comment_add_fps,
		text: 'Dodaj'
	}]
});
product_comment_add_fp = new FormPanel();
product_comment_add_fp.init(config);
product_comment_add_fp.display.render(Ext.get('div_product_comment_add'));

// submit
function product_comment_add_fps() {
    product_comment_add_fp.display.form.submit({
		method: 'POST',
		url: base_url+'/plociuchy:product_comment'+'/add',
		success: function() {
			Ext.MessageBox.alert('Informacja', 'Gotowe');
            product_comment_add_fp.display.getForm().reset();
            product_comment_store.display.reload();
		},
		failure: function() {
			Ext.MessageBox.alert('Informacja', 'Błąd');
		},
		waitMsg: 'Oczekiwanie'
	});
}
{/literal}
</script>
<div id="div_product_comment_add"></div>