<script type="text/javascript">
{literal}

// store
var fields = new Array('id', 'nick');
var config = new Object({
    //autoLoad: true,
    fields: fields,
    format: 'json',
    id: 'partner_store',
    url: base_url+'/plociuchy:partner/load_all'
});
partner_store = new Store();
partner_store.init(config);

// store
var fields = new Array('id', 'title');
var config = new Object({
    fields: fields,
    format: 'json',
    id: 'pdc_store',
    url: base_url+'/plociuchy:product_dict_category/load_all'
});
pdc_store = new Store();
pdc_store.init(config);

// store
var fields = new Array('id', 'title');
var config = new Object({
    fields: fields,
    format: 'json',
    id: 'pdv_store',
    url: base_url+'/plociuchy:product_dict_vendor/load_all'
});
pdv_store = new Store();
pdv_store.init(config);

// panel
var config = new Object({
	title: 'Edycja Productu',
	items: [{
        displayField: 'nick',
        editable: false,
        fieldLabel: 'Partner',
        hiddenName: 'id',
        name: 'id_parter',
        store: partner_store,
        triggerAction: 'all',
        width: 350,
        valueField: 'id',
        xtype: 'combo'
    },{
        displayField: 'title',
        editable: false,
        fieldLabel: 'Kategoria',
        hiddenName: 'id_category',
        name: 'id_category',
        store: pdc_store,
        triggerAction: 'all',
        width: 350,
        valueField: 'id',
        xtype: 'combo'
    },{
        displayField: 'title',
        editable: false,
        fieldLabel: 'Producent',
        hiddenName: 'id_vendor',
        name: 'id_vendor',
        store: pdv_store,
        triggerAction: 'all',
        width: 350,
        valueField: 'id',
        xtype: 'combo'
    },{
		allowBlank: false,
		fieldLabel: 'Nazwa',
		name: 'text1',
		xtype: 'textfield',
		width: 350
	},{
		allowBlank: true,
		fieldLabel: 'Nagłówek',
		name: 'text2',
		xtype: 'textarea',
		width: 350
	},{
		allowBlank: true,
		fieldLabel: 'Treść',
		height: 250,
		name: 'text3',
		xtype: 'htmleditor',
		width: 550
	},{
        allowBlank: false,
        fieldLabel: 'Cena',
        name: 'price',
        xtype: 'textfield',
        width: 350
    },{
        allowBlank: false,
        fieldLabel: 'Promocja',
        inputValue: 1,
        name: 'promote',
        value: 1,
        xtype: 'checkbox',
        width: 350
    },{
        allowBlank: true,
        fieldLabel: 'Zdjęcie',
        name: 'image1',
        buttonText: 'Wybierz plik',
        xtype: 'fileuploadfield'
    },{
        allowBlank: true,
        fieldLabel: 'Zdjęcie',
        name: 'image2',
        buttonText: 'Wybierz plik',
        xtype: 'fileuploadfield'
    },{
        allowBlank: true,
        fieldLabel: 'Zdjęcie',
        name: 'image3',
        buttonText: 'Wybierz plik',
        xtype: 'fileuploadfield'
    },{
        allowBlank: true,
        fieldLabel: 'Zdjęcie',
        name: 'image4',
        buttonText: 'Wybierz plik',
        xtype: 'fileuploadfield'
    },{
        allowBlank: true,
        fieldLabel: 'Zdjęcie',
        name: 'image5',
        buttonText: 'Wybierz plik',
        xtype: 'fileuploadfield'
    },{
        allowBlank: false,
        fieldLabel: 'Odrzucony',
        inputValue: 1,
        name: 'reject',
        value: 1,
        xtype: 'checkbox',
        width: 350
    },{
        allowBlank: false,
        fieldLabel: 'Aktywny',
        inputValue: 1,
        name: 'active',
        value: 1,
        xtype: 'checkbox',
        width: 350
    },{
        fieldLabel: 'Aktywny Od',
        format:'Y-m-d H:i:s',
        name: 'active_from',
        xtype: 'datefield'
    },{
        fieldLabel: 'Aktywny Do',
        format:'Y-m-d H:i:s',
        name: 'active_to',
        xtype: 'datefield'
    },{
        disabled: true,
        fieldLabel: 'Data dodania',
        name: 'date_added',
        xtype: 'textfield'
    },{
        disabled: true,
        fieldLabel: 'Data modyfikacji',
        name: 'date_last_modified',
        xtype: 'textfield'
    }],
	buttons: [{
		handler: product_edit_fps,
		text: 'Zapisz'
	}]
});
product_edit_fp = new FormPanel();
product_edit_fp.init(config);
product_edit_fp.display.render(Ext.get('div_product_edit'));

// submit
function product_edit_fps() {
    product_edit_fp.display.form.submit({
        method: 'POST',
        url: base_url+'/plociuchy:product'+'/edit/{/literal}{$id}{literal}',
        success: function() {
            Ext.MessageBox.alert('Informacja', 'Obiekt zapisany');
            product_store.display.reload();
        },
        failure: function() {
            Ext.MessageBox.alert('Informacja', 'Błąd');
        },
        waitMsg: 'Oczekiwanie'
    });
}

// load
function product_edit_load() {
    product_edit_fp.display.form.load({
        method: 'POST',
        url: base_url+'/plociuchy:product'+'/load/{/literal}{$id}{literal}',
        waitMsg: 'Oczekiwanie',
        success: function() {
        },
        failure: function() {
            Ext.MessageBox.alert('Informacja', 'Błąd');
        }
    });
}

// load
product_edit_load();

{/literal}
</script>
<div id="div_product_edit"></div>