<script type="text/javascript">
{literal}

// fields
var fields = new Array('id', 'title');
var config = new Object({
	fields: fields,
	format: 'json',
	id: 'product_dict_category_store',
    remoteSort: true,
	url: base_url+'/plociuchy:product_dict_category'+'/load_all'
});
product_dict_category_store = new Store();
product_dict_category_store.init(config);

// filter field
var config = new Object({
    allowBlank: true,
    enableKeyEvents: true,
    id: 'product_dict_category_filter_keyword',
    name: 'product_dict_category_filter_keyword',
    value: '',
    xtype: 'textfield',
    width: 100,
    listeners: {
        specialkey: function(field, e) {
            if (e.getKey() == e.ENTER) {
                product_dict_category_filter_search_add(field.getValue());
            }
        }
    },
});
product_dict_category_filter = new Ext.form.TextField(config);
// filter search button
var config = new Object({
    id: 'product_dict_category_filter_search',
    iconCls: 'magnifier',
    style: 'padding-left:3px;',
    text: 'Filtruj',
    listeners: {
        click: function(button, e) {
            query = Ext.getCmp('product_dict_category_filter_keyword');
            filter_search_add(query.getValue());
        }
    }
});
product_dict_category_filter_search = new Button();
product_dict_category_filter_search.init(config);
// filter delete button
var config = new Object({
    id: 'product_dict_category_filter_delete',
    iconCls: 'delete',
    text: 'Wyczyść',
    listeners: {
        click: function(button, e) {
            query = Ext.getCmp('product_dict_category_filter_keyword');
            query.setValue('');
            product_dict_category_filter_search_remove();
        }
    }
});
product_dict_category_filter_delete = new Button();
product_dict_category_filter_delete.init(config);


// paging toolbar
var config = new Object({
	store: product_dict_category_store.display,
	items: ['-',
		{
			iconCls: 'x-btn-text-icon page_add',
			handler: product_dict_category_add,
			text: 'Dodaj'
		},
        '-',
        product_dict_category_filter,
        product_dict_category_filter_search.display,
        '-',
        product_dict_category_filter_delete.display
	]
});
product_dict_category_ptb = new PagingToolBar();
product_dict_category_ptb.init(config);

// grid
var config = new Object({
	store: product_dict_category_store.display,
	tbar: product_dict_category_ptb.display,
	title: 'Kategorie',
	columns: [
		{ id: 'id', dataIndex: 'id', header: 'Id', sortable: true },
		{ id: 'title', dataIndex: 'title', header: 'Nazwa Kategorii', sortable: true },
        { id: 'options', header: 'Opcje', renderer: render_options, sortable: false }
	],
	listeners: {
		celldblclick: function(grid, rowIndex, columnIndex, e) {
			var record = grid.getStore().getAt(rowIndex);
 			var fieldName = grid.getColumnModel().getDataIndex(columnIndex);
			var data = record.get(fieldName);
			var data_id = record.get('id');
			var data_title = record.get('title');
            product_dict_category_edit(data_id, data_title);
		}
	}
});
product_dict_category_grid = new EditorGridPanel();
product_dict_category_grid.init(config);

// panel
var config = new Object({
	items: [ product_dict_category_grid.display ]
});
product_dict_category_panel = new Panel();
product_dict_category_panel.init(config);
product_dict_category_panel.display.render(Ext.get('div_product_dict_category'));

// store
product_dict_category_store.display.load({ params: { start: 0, limit: _paging_limit }});
function product_dict_category_store_reload(index){
    product_dict_category.store.display.load({ params: { start: 0, limit: _paging_limit, id: index }});
}

// options
function render_options(value, p, record) {
    return String.format(' <a href="javascript:product_dict_category_edit('+record.data.id+',\''+record.data.title+'\');"><img src="images/icon/page_edit.png"></a> <a href="javascript:delete_confirm(\''+base_url+'/plociuchy:product_dict_category'+'/delete/'+record.data.id+'\');"><img src="images/icon/delete.png" border="0"></a>');
}

// add
function product_dict_category_add() {
    tab_id = 'product_dict_category_add';
    tab_title = 'Dodaj Kategorie';
    tab_url = base_url+'/plociuchy:product_dict_category'+'/display_add';
    center.ui.tab_add(tab_id, tab_title, tab_url);
}

// edit
function product_dict_category_edit(id, title) {
    tab_id = 'product_dict_category_edit';
    tab_title = 'Edycja Ketegorii "'+title+'"';
    tab_url = base_url+'/plociuchy:product_dict_category'+'/display_edit/'+id;
    center.ui.tab_add(tab_id, tab_title, tab_url);
}

// delete
function delete_confirm(url) {
    new Helper_Delete().delete_confirm(url, 'grid', product_dict_category_store, null);
}

// active
function active(url) {
    new Helper_Ui().url_call(url, 'grid', product_dict_category_store, null);
}

// filter
function product_dict_category_filter_search_add(query) {
    lastOptions = product_dict_category_store.display.lastOptions;
    lastOptions.params['query'] = query;
    product_dict_category_ptb.display.changePage(0);
}
function product_dict_category_filter_search_remove() {
    lastOptions = product_dict_category_store.display.lastOptions;
    lastOptions.params['query'] = '';
    product_dict_category_ptb.display.changePage(0);
}

{/literal}
</script>
<div id="div_product_dict_category"></div>