<script type="text/javascript">
{literal}

// parameters
var daf = new Date();
var dat = new Date();
dat.setMonth(daf.getMonth()+1);

// store
var fields = new Array('id', 'nick');
var config = new Object({
    fields: fields,
    format: 'json',
    id: 'partner_store',
    url: base_url+'/plociuchy:partner/load_all'
});
partner_store = new Store();
partner_store.init(config);

// store
var fields = new Array('id', 'title');
var config = new Object({
    fields: fields,
    format: 'json',
    id: 'pdc_store',
    url: base_url+'/plociuchy:product_dict_category/load_all'
});
pdc_store = new Store();
pdc_store.init(config);

// store
var fields = new Array('id', 'title');
var config = new Object({
    fields: fields,
    format: 'json',
    id: 'pdv_store',
    url: base_url+'/plociuchy:product_dict_vendor/load_all'
});
pdv_store = new Store();
pdv_store.init(config);

// panel
var config = new Object({
	fileUpload: true,
    title: 'Dodaj Product',
	items: [{
        displayField: 'nick',
        editable: false,
        fieldLabel: 'Partner',
        hiddenName: 'id_partner',
        name: 'id_partner',
        store: partner_store,
        triggerAction: 'all',
        width: 350,
        valueField: 'id',
        xtype: 'combo'
    },{
        displayField: 'title',
        editable: false,
        fieldLabel: 'Kategoria',
        hiddenName: 'id_category',
        name: 'id_category',
        store: pdc_store,
        triggerAction: 'all',
        width: 350,
        valueField: 'id',
        xtype: 'combo'
    },{
        displayField: 'title',
        editable: false,
        fieldLabel: 'Producent',
        hiddenName: 'id_vendor',
        name: 'id_vendor',
        store: pdv_store,
        triggerAction: 'all',
        width: 350,
        valueField: 'id',
        xtype: 'combo'
    },{
		allowBlank: false,
		fieldLabel: 'Nazwa',
		name: 'text1',
		xtype: 'textfield',
		width: 350
	},{
		allowBlank: true,
		fieldLabel: 'Nagłówek',
		name: 'text2',
		xtype: 'textarea',
		width: 350
	},{
		allowBlank: true,
		fieldLabel: 'Treść',
		height: 250,
		name: 'text3',
		xtype: 'htmleditor',
		width: 550
	},{
        allowBlank: false,
        fieldLabel: 'Cena Weekend',
        name: 'price1',
        xtype: 'textfield',
        width: 350
    },{
        allowBlank: false,
        fieldLabel: 'Cena Tydzień',
        name: 'price2',
        xtype: 'textfield',
        width: 350
    },{
        allowBlank: false,
        fieldLabel: 'Cena Sklep',
        name: 'price3',
        xtype: 'textfield',
        width: 350
    },{
        allowBlank: false,
        fieldLabel: 'Promocja',
        inputValue: 1,
        name: 'promote',
        value: 1,
        xtype: 'checkbox',
        width: 350
    },{
        allowBlank: true,
        fieldLabel: 'Zdjęcie',
        name: 'userfile',
        buttonText: 'Wybierz plik',
        xtype: 'fileuploadfield'
    },{
        allowBlank: true,
        fieldLabel: 'Zdjęcie',
        name: 'userfile2',
        buttonText: 'Wybierz plik',
        xtype: 'fileuploadfield'
    },{
        allowBlank: true,
        fieldLabel: 'Zdjęcie',
        name: 'userfile3',
        buttonText: 'Wybierz plik',
        xtype: 'fileuploadfield'
    },{
        allowBlank: false,
        fieldLabel: 'Odrzucony (-1/0/1)',
        name: 'reject',
        xtype: 'textfield',
        width: 350
    },{
        allowBlank: false,
        checked: true,
        fieldLabel: 'Aktywny',
        inputValue: 1,
        name: 'active',
        value: 1,
        xtype: 'checkbox',
        width: 350
    },{
        fieldLabel: 'Aktywny Od',
        format:'Y-m-d H:i:s',
        name: 'active_from',
        value: daf,
        xtype: 'datefield'
    },{
        fieldLabel: 'Aktywny Do',
        format:'Y-m-d H:i:s',
        name: 'active_to',
        value: dat,
        xtype: 'datefield'
    }],
	buttons: [{
		handler: product_add_fps,
		text: 'Dodaj'
	}]
});
product_add_fp = new FormPanel();
product_add_fp.init(config);
product_add_fp.display.render(Ext.get('div_product_add'));

// submit
function product_add_fps() {
	product_add_fp.display.form.submit({
		method: 'POST',
		url: base_url+'/plociuchy:product'+'/add',
		success: function() {
			Ext.MessageBox.alert('Informacja', 'Gotowe');
			product_add_fp.display.getForm().reset();
            product_store.display.reload();
		},
		failure: function() {
			Ext.MessageBox.alert('Informacja', 'Błąd');
		},
		waitMsg: 'Oczekiwanie'
	});
}
{/literal}
</script>
<div id="div_product_add"></div>