<script type="text/javascript">
{literal}

// fields
var fields = new Array('id', 'id_partner','id_product','id_product_comment', 'text1', 'text2', 'date_added');
var config = new Object({
	fields: fields,
	format: 'json',
	id: 'product_comment_store',
	url: base_url+'/plociuchy:product_comment'+'/load_all'
});
product_comment_store = new Store();
product_comment_store.init(config);

// paging toolbar
var config = new Object({
	store: product_comment_store.display,
	items: ['-',
		{
			iconCls: 'x-btn-text-icon page_add',
			handler: product_comment_add,
			text: 'Dodaj'
		}
	]
});
product_comment_ptb = new PagingToolBar();
product_comment_ptb.init(config);

// grid
var config = new Object({
	store: product_comment_store.display,
	tbar: product_comment_ptb.display,
	title: 'Produkt Komentarze',
	columns: [
		{ id: 'id', dataIndex: 'id', header: 'Id', sortable: true },
		{ id: 'id_partner', dataIndex: 'id_partner', header: 'Id_Partner', sortable: true },
		{ id: 'id_product_comment', dataIndex: 'id_product', header: 'Id_Product', sortable: true },
		{ id: 'text1', dataIndex: 'text1', header: 'Tytuł', sortable: true },
		{ id: 'text2', dataIndex: 'text2', header: 'Nagłówek', sortable: true },
		{ id: 'date_addded', dataIndex: 'date_added', header: 'Stworzony', sortable: true },
		{ id: 'options', header: 'Opcje', renderer: render_options, sortable: false }
	],
	listeners: {
		celldblclick: function(grid, rowIndex, columnIndex, e) {
			var record = grid.getStore().getAt(rowIndex);
 			var fieldName = grid.getColumnModel().getDataIndex(columnIndex);
			var data = record.get(fieldName);
			var data_id = record.get('id');
			var data_title = record.get('id');
            product_comment_edit(data_id, data_title);
		}
	}
});
product_comment_grid = new EditorGridPanel();
product_comment_grid.init(config);

// panel
var config = new Object({
	items: [ product_comment_grid.display ]
});
product_comment_panel = new Panel();
product_comment_panel.init(config);
product_comment_panel.display.render(Ext.get('div_product_comment'));

// store
product_comment_store.display.load({ params: { start: 0, limit: _paging_limit }});
function product_comment_store_reload(index){
    product_comment.store.display.load({ params: { start: 0, limit: _paging_limit, id: index }});
}

// options
function render_options(value, p, record) {
    return String.format('<a href="javascript:product_comment_edit('+record.data.id+',\''+record.data.id+'\');"><img src="images/icon/page_edit.png"></a> <a href="javascript:delete_confirm(\''+base_url+'/plociuchy:product_comment'+'/delete/'+record.data.id+'\');"><img src="images/icon/delete.png" border="0"></a>');
}

// add
function product_comment_add() {
    tab_id = 'product_comment_add';
    tab_title = 'Dodaj Komentarz';
    tab_url = base_url+'/plociuchy:product_comment'+'/display_add';
    center.ui.tab_add(tab_id, tab_title, tab_url);
}

// edit
function product_comment_edit(id, title) {
    tab_id = 'product_comment_edit';
    tab_title = 'Edycja Komentarza ID "'+title+'"';
    tab_url = base_url+'/plociuchy:product_comment'+'/display_edit/'+id;
    center.ui.tab_add(tab_id, tab_title, tab_url);
}

// delete
function delete_confirm(url) {
    new Helper_Delete().delete_confirm(url, 'grid', product_comment_store, null);
}

// active
function active(url) {
    new Helper_Ui().url_call(url, 'grid', product_comment_store, null);
}

{/literal}
</script>
<div id="div_product_comment"></div>