<script type="text/javascript">
{literal}

// fields
var fields = new Array('id', 'id_partner', 'id_vendor', 'text1', 'text2', 'price', 'reject', 'active', 'date_added');
var config = new Object({
	fields: fields,
	format: 'json',
	id: 'product_store',
	url: base_url+'/plociuchy:product'+'/load_all'
});
product_store = new Store();
product_store.init(config);

// filter field
var config = new Object({
    allowBlank: true,
    enableKeyEvents: true,
    id: 'product_filter_keyword',
    name: 'product_filter_keyword',
    value: '',
    xtype: 'textfield',
    width: 100,
    listeners: {
        specialkey: function(field, e) {
            if (e.getKey() == e.ENTER) {
                product_filter_search_add(field.getValue());
            }
        }
    }
});
product_filter = new Ext.form.TextField(config);
// filter search button
var config = new Object({
    id: 'product_filter_search',
    iconCls: 'magnifier',
    style: 'padding-left:3px;',
    text: 'Filtruj',
    listeners: {
        click: function(button, e) {
            query = Ext.getCmp('product_filter_keyword');
            filter_search_add(query.getValue());
        }
    }
});
product_filter_search = new Button();
product_filter_search.init(config);
// filter delete button
var config = new Object({
    id: 'product_filter_delete',
    iconCls: 'delete',
    text: 'Wyczyść',
    listeners: {
        click: function(button, e) {
            query = Ext.getCmp('product_filter_keyword');
            query.setValue('');
            product_filter_search_remove();
        }
    }
});
product_filter_delete = new Button();
product_filter_delete.init(config);

// paging toolbar
var config = new Object({
	store: product_store.display,
	items: ['-',
		{
			iconCls: 'x-btn-text-icon page_add',
			handler: product_add,
			text: 'Dodaj'
		},
        '-',
        product_filter,
        product_filter_search.display,
        '-',
        product_filter_delete.display
	]
});
product_ptb = new PagingToolBar();
product_ptb.init(config);

// grid
var config = new Object({
	store: product_store.display,
	tbar: product_ptb.display,
	title: 'Produkt',
	columns: [
		{ id: 'id', dataIndex: 'id', header: 'Id', sortable: true },
		{ id: 'id_partner', dataIndex: 'id_partner', header: 'Id_Partner', sortable: true },
		{ id: 'id_vendor', dataIndex: 'id_vendor', header: 'Id_Vendor', sortable: true },
		{ id: 'text1', dataIndex: 'text1', header: 'Tytuł', sortable: true },
		{ id: 'text2', dataIndex: 'text2', header: 'Nagłówek', sortable: true },
		{ id: 'price', dataIndex: 'price', header: 'Cena', sortable: true },
		{ id: 'reject', dataIndex: 'reject', header: 'Odrzucony', renderer: render_reject, sortable: true },
		{ id: 'date_added', dataIndex: 'date_added', header: 'Stworzony', sortable: true },
		{ id: 'options', header: 'Opcje', renderer: render_options, sortable: false }
	],
	listeners: {
		celldblclick: function(grid, rowIndex, columnIndex, e) {
			var record = grid.getStore().getAt(rowIndex);
 			var fieldName = grid.getColumnModel().getDataIndex(columnIndex);
			var data = record.get(fieldName);
			var data_id = record.get('id');
			var data_title = record.get('text1');
			product_edit(data_id, data_title);
		}
	}
});
product_grid = new EditorGridPanel();
product_grid.init(config);

// panel
var config = new Object({
	items: [ product_grid.display ]
});
product_panel = new Panel();
product_panel.init(config);
product_panel.display.render(Ext.get('div_product'));

// store
product_store.display.load({ params: { start: 0, limit: _paging_limit }});
function product_store_reload(index){
    product.store.display.load({ params: { start: 0, limit: _paging_limit, id: index }});
}

// options
function render_options(value, p, record) {
    if (record.data.active == 0 ) {
        url = base_url+'/plociuchy:product'+'/active_set/'+record.data.id+',1';
        img = 'cancel.png';
    } else {
        url = base_url+'/plociuchy:product'+'/active_set/'+record.data.id+',0';
        img = 'accept.png';
    }
    return String.format('<a href="javascript:active(\''+url+'\');"><img src="images/icon/'+img+'" border="0"></a> <a href="javascript:product_edit('+record.data.id+',\''+record.data.text1+'\');"><img src="images/icon/page_edit.png"></a> <a href="javascript:delete_confirm(\''+base_url+'/plociuchy:product'+'/delete/'+record.data.id+'\');"><img src="images/icon/delete.png" border="0"></a>');
}
function render_reject(value, p, record) {
    if (value == 1) {
        return String.format('OK');
    } else
    if (value == -1) {
        return String.format('ODRZUCONY');
    } else {
        return String.format('<a href="javascript:reject('+record.data.id+',1);"><img src="images/icon/accept.png" border="0"></a> <a href="javascript:reject('+record.data.id+',-1);"><img src="images/icon/cancel.png" border="0"></a>');
    }
}

// add
function product_add() {
    tab_id = 'product_add';
    tab_title = 'Dodaj Product';
    tab_url = base_url+'/plociuchy:product'+'/display_add';
    center.ui.tab_add(tab_id, tab_title, tab_url);
}

// edit
function product_edit(id, title) {
    tab_id = 'product_edit';
    tab_title = 'Edycja Produktu "'+title+'"';
    tab_url = base_url+'/plociuchy:product'+'/display_edit/'+id;
    center.ui.tab_add(tab_id, tab_title, tab_url);
}

// delete
function delete_confirm(url) {
    new Helper_Delete().delete_confirm(url, 'grid', product_store, null);
}

// active
function active(url) {
    new Helper_Ui().url_call(url, 'grid', product_store, null);
}

// reject
function reject(id, mode) {
    if (mode == 1) {
        url = base_url+'/plociuchy:product'+'/reject_set/'+id+','+mode;
        new Helper_Ui().url_call(url, 'grid', product_store, null);
    }
    if (mode == -1) {
        url = base_url+'/plociuchy:product'+'/reject_display/'+id;
        new Helper_Ui().add_window('product_reject', 'Odrzuć produkt', url);
    }
}

// filter
function product_filter_search_add(query) {
    lastOptions = product_store.display.lastOptions;
    lastOptions.params['query'] = query;
    product_ptb.display.changePage(0);
}
function product_filter_search_remove() {
    lastOptions = product_store.display.lastOptions;
    lastOptions.params['query'] = '';
    product_ptb.display.changePage(0);
}

{/literal}
</script>
<div id="div_product"></div>