<script type="text/javascript">

{literal}

// store
var fields = new Array('id', 'nick');
var config = new Object({
    fields: fields,
    format: 'json',
    id: 'partner_store',
    url: base_url+'/plociuchy:partner/load/'
});
partner_store = new Store();
partner_store.init(config);

// store
var fields = new Array('id', 'text1');
var config = new Object({
    fields: fields,
    format: 'json',
    id: 'product_store',
    url: base_url+'/plociuchy:product/load/'
});
product_store = new Store();
product_store.init(config);


// panel
var config = new Object({
    items: [{
        allowBlank: false,
        fieldLabel: 'id_product',
        name: 'id_product',
        value: '{/literal}{$id}{literal}',
        width: 320,
        xtype: 'hidden'
    },{
        allowBlank: false,

        fieldLabel: 'id_partner',
        name: 'id_partner',
        value: '{/literal}{$id_partner}{literal}',
        width: 320,
        xtype: 'hidden'
    },{
        allowBlank: false,
        fieldLabel: 'Tytuł',
        name: 'text1',
        width: 320,
        xtype: 'textfield'
    },{
        allowBlank: false,
        fieldLabel: 'Nagłówek',
        name: 'text2',
        width: 320,
        xtype: 'textarea'
    }],
	buttons: [{
		handler: product_comment_reject_fps,
		text: 'Odrzuć'
	}]
});
product_comment_reject_fp = new FormPanel();
product_comment_reject_fp.init(config);
product_comment_reject_fp.display.render(Ext.get('div_product_comment_reject'));

// submit
function product_comment_reject_fps() {
    product_comment_reject_fp.display.form.submit({
		method: 'POST',
		url: base_url+'/plociuchy:product_comment'+'/add',
		success: function() {
			Ext.MessageBox.alert('Informacja', 'Gotowe');
            product_comment_reject_fp.display.getForm().reset();
            Ext.getCmp('product_reject').destroy();
            product_store.display.reload();
		},
		failure: function() {
			Ext.MessageBox.alert('Informacja', 'Błąd');
		},
		waitMsg: 'Oczekiwanie'
	});
}
{/literal}
</script>
<div id="div_product_comment_reject"></div>