<script type="text/javascript">
{literal}

// fields
var fields = new Array('id', 'id_user', 'id_partner', 'id_product', 'id_payment_24_user', 'status', 'reject','active','date_from','date_to','date_added', 'date_added','date_last_modified');
var config = new Object({
	fields: fields,
	format: 'json',
	id: 'product_reservation_store',
	url: base_url+'/plociuchy:product_reservation'+'/load_all'
});
product_reservation_store = new Store();
product_reservation_store.init(config);

// paging toolbar
var config = new Object({
	store: product_reservation_store.display,
	items: ['-',
		{
			iconCls: 'x-btn-text-icon page_add',
			handler: product_reservation_add,
			text: 'Dodaj'
		}
	]
});
product_reservation_ptb = new PagingToolBar();
product_reservation_ptb.init(config);

// grid
var config = new Object({
	store: product_reservation_store.display,
	tbar: product_reservation_ptb.display,
	title: 'Rezerwacje Produktu',
	columns: [
		{ id: 'id', dataIndex: 'id', header: 'Id', sortable: true },
        { id: 'id_user', dataIndex: 'id_user', header: 'Id_User', sortable: true },
		{ id: 'id_partner', dataIndex: 'id_partner', header: 'Id_Partner', sortable: true },
		{ id: 'id_product', dataIndex: 'id_product', header: 'Id_Product', sortable: true },
		{ id: 'id_payment_p24_user', dataIndex: 'id_payment_p24_user', header: 'id_payment_p24_user', sortable: true },
		{ id: 'status', dataIndex: 'status', header: 'Status', sortable: true },
        { id: 'reject', dataIndex: 'reject', header: 'Odrzucony', sortable: true },
		{ id: 'active', dataIndex: 'active', header: 'Aktywny', sortable: true },
        { id: 'date_form', dataIndex: 'date_from', header: 'Od', sortable: true },
        { id: 'date_to', dataIndex: 'date_to', header: 'Do', sortable: true },
        { id: 'date_added', dataIndex: 'date_added', header: 'Stworzony', sortable: true },
		{ id: 'date_last_modiefied', dataIndex: 'date_last_modified', header: 'Edytowany', sortable: true },
		{ id: 'options', header: 'Opcje', renderer: render_options, sortable: false }
	],
	listeners: {
		celldblclick: function(grid, rowIndex, columnIndex, e) {
			var record = grid.getStore().getAt(rowIndex);
 			var fieldName = grid.getColumnModel().getDataIndex(columnIndex);
			var data = record.get(fieldName);
			var data_id = record.get('id');
			var data_title = record.get('id');
            product_reservation_edit(data_id, data_title);
		}
	}
});
product_reservation_grid = new EditorGridPanel();
product_reservation_grid.init(config);

// panel
var config = new Object({
	items: [ product_reservation_grid.display ]
});
product_reservation_panel = new Panel();
product_reservation_panel.init(config);
product_reservation_panel.display.render(Ext.get('div_product_reservation'));

// store
product_reservation_store.display.load({ params: { start: 0, limit: _paging_limit }});
function product_reservation_store_reload(index){
    product_reservation.store.display.load({ params: { start: 0, limit: _paging_limit, id: index }});
}

// options
function render_options(value, p, record) {
    if (record.data.active == 0 ) {
        url = base_url+'/plociuchy:product_reservation'+'/active_set/'+record.data.id+',1';
        img = 'cancel.png';
    } else {
        url = base_url+'/plociuchy:product_reservation'+'/active_set/'+record.data.id+',0';
        img = 'accept.png';
    }
    return String.format('<a href="javascript:active(\''+url+'\');"><img src="images/icon/'+img+'" border="0"></a> <a href="javascript:product_reservation_edit('+record.data.id+',\''+record.data.id+'\');"><img src="images/icon/page_edit.png"></a> <a href="javascript:delete_confirm(\''+base_url+'/plociuchy:product_reservation'+'/delete/'+record.data.id+'\');"><img src="images/icon/delete.png" border="0"></a>');
}

// add
function product_reservation_add() {
    tab_id = 'product_reservation_add';
    tab_title = 'Dodaj Rezerwacje';
    tab_url = base_url+'/plociuchy:product_reservation'+'/display_add';
    center.ui.tab_add(tab_id, tab_title, tab_url);
}

// edit
function product_reservation_edit(id, title) {
    tab_id = 'product_reservation_edit';
    tab_title = 'Edycja Rezerwacji ID "'+title+'"';
    tab_url = base_url+'/plociuchy:product_reservation'+'/display_edit/'+id;
    center.ui.tab_add(tab_id, tab_title, tab_url);
}

// delete
function delete_confirm(url) {
    new Helper_Delete().delete_confirm(url, 'grid', product_reservation_store, null);
}

// active
function active(url) {
    new Helper_Ui().url_call(url, 'grid', product_reservation_store, null);
}

{/literal}
</script>
<div id="div_product_reservation"></div>