<script type="text/javascript">
{literal}

// fields
var fields = new Array('id', 'nick', 'user','surname','zip','city','address','coutry','mobile','birth_year','gender','about','company','company_name','company_nip','company_zip','company_city','company_address','company_country','company_phone','checkbox_marketing','checkbox_newsletter','image','active','date_added','date_activated','date_last_modified');
var config = new Object({
	fields: fields,
	format: 'json',
	id: 'user_store',
	url: base_url+'/plociuchy:user'+'/load_all'
});
user_store = new Store();
user_store.init(config);

// filter field
var config = new Object({
    allowBlank: true,
    enableKeyEvents: true,
    id: 'user_filter_keyword',
    name: 'user_filter_keyword',
    value: '',
    xtype: 'textfield',
    width: 100,
    listeners: {
        specialkey: function(field, e) {
            if (e.getKey() == e.ENTER) {
                filter_search_add(field.getValue());
            }
        }
    },
});
user_filter = new Ext.form.TextField(config);
// filter search button
var config = new Object({
    id: 'user_filter_search',
    iconCls: 'magnifier',
    style: 'padding-left:3px;',
    text: 'Filtruj',
    listeners: {
        click: function(button, e) {
            query = Ext.getCmp('user_filter_keyword');
            user_filter_search_add(query.getValue());
        }
    }
});
user_filter_search = new Button();
user_filter_search.init(config);
// filter delete button
var config = new Object({
    id: 'user_filter_delete',
    iconCls: 'delete',
    text: 'Wyczyść',
    listeners: {
        click: function(button, e) {
            query = Ext.getCmp('user_filter_keyword');
            query.setValue('');
            user_filter_search_remove();
        }
    }
});
user_filter_delete = new Button();
user_filter_delete.init(config);


// paging toolbar
var config = new Object({
	store: user_store.display,
	items: ['-',
		{
			iconCls: 'x-btn-text-icon page_add',
			handler: user_add,
			text: 'Dodaj'
		},
        '-',
        user_filter,
        user_filter_search.display,
        '-',
        user_filter_delete.display
	]
});
user_ptb = new PagingToolBar();
user_ptb.init(config);

// grid
var config = new Object({
	store: user_store.display,
	tbar: user_ptb.display,
	title: 'Użytkownicy',
	columns: [
        { id: 'id', dataIndex: 'id', header: 'Id', sortable: true },
        { id: 'nick', dataIndex: 'nick', header: 'nick', sortable: true },
        { id: 'user', dataIndex: 'user', header: 'user', sortable: true },
        { id: 'name', dataIndex: 'name', header: 'Imie', sortable: true },
        { id: 'surname', dataIndex: 'surname', header: 'Nazwisko', sortable: true },
        { id: 'zip', dataIndex: 'zip', header: 'Kod Pocztowy', sortable: true },
        { id: 'city', dataIndex: 'city', header: 'Miasto', sortable: true },
        { id: 'address', dataIndex: 'address', header: 'Aders', sortable: true },
        { id: 'active', dataIndex: 'active', header: 'Aktywny', sortable: true },
        { id: 'date_added', dataIndex: 'date_added', header: 'Data dodania', sortable: true },
        { id: 'options', header: 'Opcje', renderer: render_options, sortable: false }
	],
	listeners: {
		celldblclick: function(grid, rowIndex, columnIndex, e) {
			var record = grid.getStore().getAt(rowIndex);
 			var fieldName = grid.getColumnModel().getDataIndex(columnIndex);
			var data = record.get(fieldName);
			var data_id = record.get('id');
			var data_title = record.get('nick');
			user_edit(data_id, data_title);
		}
	}
});
user_grid = new EditorGridPanel();
user_grid.init(config);

// panel
var config = new Object({
	items: [ user_grid.display ]
});
user_panel = new Panel();
user_panel.init(config);
user_panel.display.render(Ext.get('div_user'));

// store
user_store.display.load({ params: { start: 0, limit: _paging_limit }});
function user_store_reload(index){
    user.store.display.load({ params: { start: 0, limit: _paging_limit, id: index }});
}

// options
function render_options(value, p, record) {
    if (record.data.active == 0 ) {
        url = base_url+'/plociuchy:user'+'/active_set/'+record.data.id+',1';
        img = 'cancel.png';
    } else {
        url = base_url+'/plociuchy:user'+'/active_set/'+record.data.id+',0';
        img = 'accept.png';
    }
    return String.format('<a href="javascript:active(\''+url+'\');"><img src="images/icon/'+img+'" border="0"></a> <a href="javascript:user_edit('+record.data.id+',\''+record.data.nick+'\');"><img src="images/icon/page_edit.png"></a> <a href="javascript:delete_confirm(\''+base_url+'/plociuchy:user'+'/delete/'+record.data.id+'\');"><img src="images/icon/delete.png" border="0"></a>');
}

// add
function user_add() {
    tab_id = 'user_add';
    tab_title = 'Dodaj Użytkownika';
    tab_url = base_url+'/plociuchy:user'+'/display_add';
    center.ui.tab_add(tab_id, tab_title, tab_url);
}

// edit
function user_edit(id, title) {
    tab_id = 'user_edit';
    tab_title = 'Edycja Użytkownika "'+title+'"';
    tab_url = base_url+'/plociuchy:user'+'/display_edit/'+id;
    center.ui.tab_add(tab_id, tab_title, tab_url);
}

// delete
function delete_confirm(url) {
    new Helper_Delete().delete_confirm(url, 'grid', user_store, null);
}

// active
function active(url) {
    new Helper_Ui().url_call(url, 'grid', user_store, null);
}

// filter
function user_filter_search_add(query) {
    lastOptions = user_store.display.lastOptions;
    lastOptions.params['query'] = query;
    user_ptb.display.changePage(0);
}
function user_filter_search_remove() {
    lastOptions = user_store.display.lastOptions;
    lastOptions.params['query'] = '';
    user_ptb.display.changePage(0);
}

{/literal}
</script>
<div id="div_user"></div>