<script type="text/javascript">
{literal}

// fields
var fields = new Array('id', 'name', 'text', 'image', 'active');

// store
var config = new Object({
	fields: fields,
	format: 'json',
	id: 'warehouse_product_category_store',
	url: base_url+'/warehouse_product_category/load_all'
});
warehouse_product_category_store = new Store();
warehouse_product_category_store.init(config);

// paging toolbar
var config = new Object({
	store: warehouse_product_category_store.display,
	items: ['-',
		{
			iconCls: 'x-btn-text-icon page_add',
			handler: warehouse_product_category_add,
			text: 'Dodaj Kategorię'
		}
	]
});
warehouse_product_category_pagingtoolbar = new PagingToolBar();
warehouse_product_category_pagingtoolbar.init(config);

// grid
var config = new Object({
	store: warehouse_product_category_store.display,
	tbar: warehouse_product_category_pagingtoolbar.display,
	title: 'Produkty',
	columns: [
		{ id: 'id', dataIndex: 'id', header: 'Id', sortable: true },
		{ id: 'name', dataIndex: 'name', header: 'Tytuł', sortable: true },
		{ id: 'text', dataIndex: 'text', header: 'Opis', sortable: true },
        { id: 'image', dataIndex: 'image', header: 'Obrazek', renderer: render_image, sortable: true },
        { id: 'active', dataIndex: 'active', header: 'Aktywny', renderer: render_active, sortable: true },
        { id: 'options', header: 'Opcje', renderer: render_options, sortable: false }
	],
	listeners: {
		celldblclick: function(grid, rowIndex, columnIndex, e) {
			var record = grid.getStore().getAt(rowIndex);
 			var fieldName = grid.getColumnModel().getDataIndex(columnIndex);
			var data = record.get(fieldName);
			var data_id = record.get('id');
			var data_title = record.get('name');
			warehouse_product_category_edit(data_id, data_title);
		}
	}
});
warehouse_product_category_grid = new EditorGridPanel();
warehouse_product_category_grid.init(config);

// panel
var config = new Object({
	items: [ warehouse_product_category_grid.display ]
});
warehouse_product_category_panel = new Panel();
warehouse_product_category_panel.init(config);
warehouse_product_category_panel.display.render(Ext.get('div_warehouse_product_category'));

// store load
warehouse_product_category_store.display.load({ params: { start: 0, limit: _paging_limit }});

// store reload
function warehouse_product_category_store_reload(index){
	warehouse_product_category_store.display.load({ params: { start: 0, limit: _paging_limit, id: index }});
}

// render image
function render_image(value, p, record) {
	if (record.data.image) {
		image = record.data.image;
		return String.format('<a href="javascript:new Helper_Ui().pretty_show(\'' + image + '\',\'' + image + '\');" title="' + image + '"><img src="media/images/80x60/' + image + '"></a>');
	} else {
		return String.format('<img src="media/images/default/default_80x60.jpg"></a>');
	}
}
// render active
function render_active(value, p, record) {
	if (record.data.active == 0 ) {
		url = '/warehouse_product_category/active_set/'+record.data.id+',1';
		img = 'cancel.png';
	} else { 
		url = '/warehouse_product_category/active_set/'+record.data.id+',0';
		img = 'accept.png';
	}
	return String.format('<a href="javascript:active_set_warehouse_product_category(\''+base_url+url+'\');"><img src="images/icon/'+img+'" border="0"></a>');	
}
// render options
function render_options(value, p, record) {
	return String.format('<a href="javascript:warehouse_product_category_edit('+record.data.id+',\''+record.data.name+'\');"><img src="images/icon/application_edit.png" border="0" style="margin-right:2px;" ></a><a href="javascript:delete_confirm(\''+base_url+'/warehouse_product_category/delete/'+record.data.id+'\');"><img src="images/icon/delete.png" border="0"></a>');	
}

// delete
function delete_confirm(url) {
	new Helper_Delete().delete_confirm(url, 'grid', warehouse_product_category_store, null);
}
// active
function active_set_warehouse_product_category(url) {
	new Helper_Ui().url_call(url, 'grid', warehouse_product_category_store, null);
}

// product add
function warehouse_product_category_add() {
	tab_id = 'warehouse_product_category_add';
	tab_title = 'Dodaj Kategorię';
	tab_url = base_url+'/warehouse_product_category/display_add/';
	center.ui.tab_add(tab_id, tab_title, tab_url);
}

// show details
function warehouse_product_category_edit(id, title) {
	tab_id = 'warehouse_product_category_edit_'+id;
	tab_title = 'Kategoria '+title;
	tab_url = base_url+'/warehouse_product_category/display_edit/'+id;
	center.ui.tab_add(tab_id, tab_title, tab_url);
}

{/literal}
</script>
<div id="div_warehouse_product_category"></div>