<script type="text/javascript">
{literal}

// panel
var config = new Object({
	title: 'Dodaj Newsletter (element główny)',
	items: [{
		html: 'Newsletter to podstawa wysyłki. W tej części definiujemy nagłówek, podstawowy tekst oraz obrazek.<br><br>',
		width: 778
	},{
		allowBlank: true,
		fieldLabel: 'Tytuł',
		name: 'title',
		value: '',
		xtype: 'textfield',
		width: 350
	},{
		allowBlank: true,
		fieldLabel: 'Nagłowek',
		name: 'header',
		value: '',
		xtype: 'textarea',
		width: 350
	},{
		allowBlank: true,
		fieldLabel: 'Treść',
		height: 250,
		name: 'text',
		value: '',
		xtype: 'htmleditor',
		width: 550
	},{
		allowBlank: true,
		fieldLabel: 'Aktywność',
		name: 'active',
		value: '1',
		xtype: 'textfield',
		width: 350
	},{
		html: '<br>Obrazek - nagłówek newslettera widoczny w listach czy skrótach. Przeciągnij wybrany obraz z części Media / Obrazy.<br><br>',
		width: 778
	},{
		id: 'image',
		name: 'image',
		xtype: 'hidden'
	},{
		allowBlank: false,
		fieldLabel: 'Obraz',
		id: 'image_image_wna',
		name: 'image_image',
		xtype: 'box',
		autoEl:{
			tag:'div', 
			children:[{
				tag:'img',
				src: 'media/images/default/default_80x60.jpg'
			}]
		}
	}],
	buttons: [{
		handler: warehouse_newsletter_add_formpanel_submit,
		text: 'Dodaj'
	}],
	listeners: {
		render: function(form) {
			form.DropTarget = new Ext.dd.DropTarget(form.getEl(), {
				copy: false,
				ddGroup: 'media',
				enabled: true,
				notifyDrop: function(dd, e, data) {
					var field = form.findById('image_image_wna');
					field.update('<img src="media/images/80x60/'+data.node.attributes.file_name+'" border="1">');
					var field = form.findById('image');
					field.setValue(data.node.attributes.file_name);
				}
			});
		}
	}
});
warehouse_newsletter_add_formpanel = new FormPanel();
warehouse_newsletter_add_formpanel.init(config);
warehouse_newsletter_add_formpanel.display.render(Ext.get('div_warehouse_newsletter_add'));

// submit
function warehouse_newsletter_add_formpanel_submit() {
	warehouse_newsletter_add_formpanel.display.form.submit({
		method: 'POST',
		url: base_url +'/warehouse_newsletter/add/{/literal}{$id}{literal}',
		success: function() {
			Ext.MessageBox.alert('Newsletter Dodany', 'Newsletter został dodany.');
			warehouse_newsletter_add_formpanel.display.getForm().reset();
			warehouse_newsletter_store.display.reload();
			west_warehouse_newsletter.ui_tree.root.reload();
			west_warehouse_newsletter.ui_tree.path_expand();
		},
		failure: function() {
			Ext.MessageBox.alert('Błąd', 'Wystąpił błąd podczas dodawania Newslettera');
		},
		waitMsg: _waitmsg
	});
}
{/literal}
</script>
<div id="div_warehouse_newsletter_add"></div>