<script type="text/javascript">
{literal}

// panel
var config = new Object({
	title: 'Dodaj Kategorie',
	items: [{
		allowBlank: true,
		fieldLabel: 'Tytuł',
		name: 'name',
		value: '',
		xtype: 'textfield',
		width: 350
	},{
		allowBlank: true,
		fieldLabel: 'Opis',
		name: 'text',
		value: '',
		xtype: 'textarea',
		width: 350
	},{
		html: '<br>Aktywność. Widoczność kategorii w sklepie. Wartości 0 lub 1.<br><br>',
		width: 778
	},{
		allowBlank: true,
		fieldLabel: 'Aktywność',
		name: 'active',
		value: '1',
		xtype: 'textfield',
		width: 350
	},{
		html: '<br>Obrazki. Przeciągnij wybrany obraz z części Media / Obrazy.<br><br>',
		width: 778
	},{
		id: 'image',
		name: 'image',
		xtype: 'hidden'
	},{
		allowBlank: false,
		fieldLabel: 'Obraz',
		id: 'image_image_waa',
		name: 'image_image',
		xtype: 'box',
		autoEl:{
			tag:'div', 
			children:[{
				tag:'img',
				src: 'media/images/default/default_80x60.jpg'
			}]
		}
	}],
	buttons: [{
		handler: warehouse_product_category_add_formpanel_submit,
		text: 'Dodaj Kategorię'
	}],
	listeners: {
		afterRender: function(form) {
            var img = form.findById('image_image_waa').getEl();
            form.DropTarget = new Ext.dd.DropTarget(img, {
                copy: false,
				ddGroup: 'media',
				enabled: true,
                notifyDrop: function(dd, e, data) {
				    var field = form.findById('image_image_waa');
					field.update('<img src="media/images/80x60/'+data.node.attributes.file_name+'" border="1">');
					var field = form.findById('image');
					field.setValue(data.node.attributes.file_name);
				}
            });
		}
	}
});
warehouse_product_category_add_formpanel = new FormPanel();
warehouse_product_category_add_formpanel.init(config);
warehouse_product_category_add_formpanel.display.render(Ext.get('div_warehouse_product_category_add'));

// submit
function warehouse_product_category_add_formpanel_submit() {
	warehouse_product_category_add_formpanel.display.form.submit({
		method: 'POST',
		url: base_url +'/warehouse_product_category/add',
		success: function() {
			Ext.MessageBox.alert('Kategoria', 'Kategoria została dodana.');
			warehouse_product_category_add_formpanel.display.getForm().reset();
			warehouse_product_category_store.display.reload();
		},
		failure: function() {
			Ext.MessageBox.alert('Błąd', 'Wystąpił błąd podczas dodawania Kategorii.');
		},
		waitMsg: _waitmsg
	});
}
{/literal}
</script>
<div id="div_warehouse_product_category_add"></div>