<article class="grid_2 padd-1">
    <div class="title-1 " style= "padding-bottom:11px">Twoje konto</div>
    <ul class="list-1 p1">
        <li><a href="{$site_url}partner-panel-dane">Moje dane</a></li>
        <li><a href="{$site_url}partner-panel-zmiana-hasla">Zmiana hasła</a></li>
        <li><a href="{$site_url}partner-wyloguj">Wyloguj</a></li>
    </ul>
    <Br/>
    <div class="title-1 " style= "padding-bottom:11px">Moje produkty</div>
    <ul class="list-1 p1" >
        <li><a href="{$site_url}partner-panel-wystaw">Wystaw</a></li>
        <li><a href="{$site_url}partner-panel-produkty">Spis produktów</a></li> <!-- statusy: czeka na akceptacje / wystawiony (zaakceptowany) / wypożyczone (więcej info w rezerwacji) -->
        <li><a href="{$site_url}partner-panel-produkty-odrzucone">Odrzucone</a></li>
        <li><a href="{$site_url}partner-panel-rezerwacje">Rezerwacje</a></li> <!-- aktualne, oplacone - status:1) czekajace na wyslanie ; przycisk "wysłany" -> po zmianie przechodzi do aktualnie wypozyczonych -->
        <li><a href="{$site_url}partner-panel-rezerwacje-aktualne">Aktualnie wypożyczane</a></li> <!-- status:2) aktualnie produkty w obiegu, oplacone i wyslane -->
        <li><a href="{$site_url}partner-panel-historia-rezerwacji">Historia rezerwacji</a></li>
    </ul>
    <Br/>
    <div class="title-1 " style= "padding-bottom:11px" >Płatności</div>
    <ul class="list-1 p1"><li><a href="{$site_url}partner-panel-saldo">Bieżące saldo i wpłata</a></li>
        <li><a href="{$site_url}partner-panel-historia-wplat">Historia wpłat i obciążeń</a></li>
    </ul>
    <ul class="list-1 p1">
    </ul>
</article>
        