<article class="grid_2 padd-1">
    <div class="title-1 p">Kategorie ubrań</div>
    <ul class="list-1 p1">
        {if $category|@count > 0}
            {foreach from=$category item=cat}
            <li><a href="{$site_url}kategoria/{$cat.id}">{$cat.title}</a></li>
            {/foreach}
        <br/>
        <li><a href="{$site_url}kategorie">Wszystkie kategorie</a></li>
        {else}
            Brak kategorii
        {/if}
    </ul>
    <div class="title-1 p"><Br/>Dodatki</div>
    <ul class="list-1 p1">
        {if $dodatki|@count > 0}
             {foreach from=$dodatki item=cat}
            <li><a href="{$site_url}kategoria/{$cat.id}">{$cat.title}</a></li>
            {/foreach}
        {else}
        Brak dodatków.
        {/if}
    </ul>
    <div class="border-horiz"></div>
    <div class="title-1">Wybierz markę</div>
    <ul class="list-1 p1">
        {if $vendor|@count > 0}
            {foreach from=$vendor item=vendor}
                <li><a href="{$site_url}marka/{$vendor.id}">{$vendor.title}</a></li>
            {/foreach}
        <br/>
        <li><a href="{$site_url}marki">Wszystkie marki</a></li>
        {else}
            Brak producentów
        {/if}

    </ul>
</article>
        