<div class="border-horiz1"></div>
<h2 class="border-bot a">Jak działamy?</h2>
<div id="carousel" class="m2">
    <div class="carousel">
        <ul>
            <li>
                <div class="title-2">wybierasz ubranie i datę dostarczenia</div>
                <div class="wrapper">
                    <div class="dropcap-1">01</div>
                    <div class="overflow">
                        <p>Baurilum socs otibue tgnuada aserera
                            miaseras lerty swrtadse kertya diorbi nuncdio
                            vida atcur susoret aliquam leotsrseas.</p>
                        <a href="more.html" class="link-1">read more</a></div>
                </div>
            </li>
            <li>
                <div class="title-2">UŻYWASZ MARKOWE UBRANIE</div>
                <div class="wrapper">
                    <div class="dropcap-1">02</div>
                    <div class="overflow">
                        <p>Keasesteruan jertyasertyias uio basera ade ferakasertase
                            na taetrtas vasreasmer gaserashrey etum kasytraser
                            fend elitenean auctor wisi ealiqu.</p>
                        <a href="more.html" class="link-1">read more</a></div>
                </div>
            </li>
            <li>
                <div class="title-2">ZAMAWIASZ KURIERA ZWROTNEGO NA NASZ KOSZT</div>
                <div class="wrapper">
                    <div class="dropcap-1">03</div>
                    <div class="overflow">
                        <p>Maurilum socs otibuetgnrureugi suada aserera miaseras lerty swrtadse laoret aliquam leotsrskeasesteruan jertyaser dertyias keruioade fera kasertasena daget, elem veleleifend elitenean.</p>
                        <a href="more.html" class="link-1">read more</a></div>
                </div>
            </li>
            <li>
                <div class="title-2">ODBIERAMY UBRANIE I CZYŚCIMY JE</div>
                <div class="wrapper">
                    <div class="dropcap-1">04</div>
                    <div class="overflow">
                        <p>Naoret aliquam leotsrseas keasesteruan jertyaser moasertak emrode ferastas. Duis ac turaeser rutrum ante eu lacus.Duis ac turpisnteger rutrum ante eu lacus.</p>
                        <a href="more.html" class="link-1">read more</a></div>
                </div>
            </li>
        </ul>
        <div class="clear"></div>
    </div>
    <a href="#" class="prev car-button" data-type="prevPage"></a>
    <a href="#" class="next car-button" data-type="nextPage"></a></div>