<!DOCTYPE HTML>
<html>
<head>

    <meta http-equiv="content-type" content="text/html; charset=utf-8" />
    <script src="{$site_url}js/gen_validatorv4.js" type="text/javascript"></script>
    <title></title>

    <link type="text/css" rel="stylesheet" href="{$site_url}css/style.css">
    <link type="text/css" rel="stylesheet" href="{$site_url}css/comment_form_main.css">
    <script type="text/javascript" src="https://ajax.googleapis.com/ajax/libs/jquery/1.7.0/jquery.min.js"></script>
    {literal}
    <style type="text/css">
        .auto-style1 {
            text-align: right;
        }
    </style>

</head>

<body style="background-image: none;background-color: white;">

<script type="text/javascript">
    /* <![CDATA[ */
    $(function() {
        var input = document.createElement("input");
        if(('placeholder' in input)==false) {
            $('[placeholder]').focus(function() {
                var i = $(this);
                if(i.val() == i.attr('placeholder')) {
                    i.val('').removeClass('placeholder');
                    if(i.hasClass('password')) {
                        i.removeClass('password');
                        this.type='password';
                    }
                }
            }).blur(function() {
                        var i = $(this);
                        if(i.val() == '' || i.val() == i.attr('placeholder')) {
                            if(this.type=='password') {
                                i.addClass('password');
                                this.type='text';
                            }
                            i.addClass('placeholder').val(i.attr('placeholder'));
                        }
                    }).blur().parents('form').submit(function() {
                        $(this).find('[placeholder]').each(function() {
                            var i = $(this);
                            if(i.val() == i.attr('placeholder'))
                                i.val('');
                        })
                    });
        }
    });
    /* ]]> */
</script><div style="width:100%">
    {/literal}{$messages}{literal}
    <form method="post" id="myform" action="{/literal}{$site_url}comment_form/display_form/{$product.id}{literal}" style="width: 290px; float:left;">

        <table style="width: 212%; height: 87px">
            <tr>
                <td valign="top">
                    <input name="id_product" type="hidden" value="{/literal}{$id_product}{literal}">
                    <input name="name" placeholder="Nick *" style="width: 173px">
                    <input name="email" type="email" placeholder="E-mail *" style="width: 173px"><br><br>
                </td>
                <td class="auto-style1" valign="top">
                    <textarea name="message" placeholder="Co sądzisz o tym ubraniu?*" style="height: 75px; width: 297px;" rows="1"></textarea></td>
                <td class="auto-style1"><label style="width: 98px">      <input id="submit" name="submit" type="submit" value="Wyślij" style="font-size: 11px;
    line-height: 16px;


    text-decoration: none;
    text-transform: uppercase;" ></label></td>
            </tr>
        </table>



    </form></div>

<script  type="text/javascript">
    var frmvalidator = new Validator("myform");
    frmvalidator.addValidation("name","req","Wpisz proszę swój nick.");
    frmvalidator.addValidation("name","maxlen=100", "Maksymalna długość imienia to 100 znaków.");

    frmvalidator.addValidation("email","maxlen=70", "Pole e-mail jest niepoprawne.");
    frmvalidator.addValidation("email","req", "Uzupełnij pole e-mail abyśmy mogli się z Tobą skontaktować.");
    frmvalidator.addValidation("email","email", "Pole e-mail jest niepoprawne.");

    frmvalidator.addValidation("message","minlen=10", "Wpisz proszę komentarz.");
</script>


</body>
</html>

{/literal}