<div id="folio">
    <div id="images">
        <div id="gallery">
            <ul style="width:3000px  !important;">
                <li><img src="{$site_url}images/1.JPG" alt=""></li>
                <li><img src="{$site_url}images/3.JPG" alt=""></li>
                <li><img src="{$site_url}images/2.JPG" alt=""></li>
                <li><img src="{$site_url}images/4.JPG" alt=""></li>
                <li><img src="{$site_url}images/slide-4.jpg" alt=""></li>
                <li><img src="{$site_url}images/slide-5.jpg" alt=""></li>
                <li><img src="{$site_url}images/slide-6.jpg" alt=""></li>
            </ul>
        </div>
    </div>
    <div class="scroll_gallery"> <span class="scroll_drag"></span> </div>
</div>