
<div class="border-horiz1"></div>
<h2 class="border-bot a">Jak wypożyczyć?</h2>
<div id="carousel" class="m2">
    <div class="carousel">
        <ul>
            {foreach from=$how_to_insert item=article key='test' name='loop'}
            <li>
                <div class="title-2">{$article.title}</div>
                <div class="wrapper">
                    <div class="dropcap-1">{"%02d"|sprintf:$smarty.foreach.loop.iteration}</div>
                    <div class="overflow">
                        <p>{$article.text|truncate:140:"...":true}</p>
                        <a href="{$site_url}artykul/{$article.id}" class="link-1">read more</a> </div>
                </div>
            </li>
            {/foreach}


        </ul>
        <div class="clear"></div>
    </div>
    <a href="#" class="prev car-button" data-type="prevPage"></a> <a href="#" class="next car-button" data-type="nextPage"></a> </div>
            
            