
<form action="https://sandbox.przelewy24.pl/index.php" method="post" class="form">
    <input type="hidden" name="p24_session_id" value="{$p24_session_id}" />
    <input type="hidden" name="p24_id_sprzedawcy" value="{$p24_id_sprzedawcy}" />
    <input type="hidden" name="p24_kwota" value="{$p24_kwota}" />
    <input type="hidden" name="p24_opis" value="{$p24_opis}" />
    <input type="hidden" name="p24_klient" value="{$p24_klient}" />
    <input type="hidden" name="p24_adres" value="{$p24_adres}" />
    <input type="hidden" name="p24_kod" value="{$p24_kod}" />
    <input type="hidden" name="p24_miasto" value="{$p24_miasto}" />
    <input type="hidden" name="p24_kraj" value="PL" />
    <input type="hidden" name="p24_email" value="{$p24_email}" />
    <input type="hidden" name="p24_language" value="pl" />
    <input type="hidden" name="p24_return_url_ok" value="{$site_url}koszyk/platnosc24-ok" />
    <input type="hidden" name="p24_return_url_error" value="{$site_url}koszyk/platnosc24-error" />
    <input type="hidden" name="p24_crc" value="{$p24_crc}" />
    <input id="submit" name="submit_send" value="Płacę" type="submit" style="float: right" />
</form>
