<li>
    <div class="aranza">
        <a href="{$app_url}run/song/display_player/{$song.id}">
        {if $song.image == 'default_120x90.jpg'}
            <img src="{$media_url}image/default/default_120x90.jpg" alt="" width="47" height="47" />
        {else}
            <img src="{$media_url}image/200x150/{$song.image}" alt="" width="47" height="47" />
        {/if}
        </a>
    </div>
    <a href="{$app_url}run/account/display_account_profile/{$song.id_user}" class="autor">{$song.author}&nbsp;</a> <a href="{$app_url}run/song/display_player/{$song.id}" class="title">{$song.title}</a>
    <p class="genre">{$song.genre}</p>
    <div class="watch">
        <p class="opinion"><span>{$song.rate_computed}</span>/{$song.rate_total}</p>
        <p class="views">{$song.display}</p>
    </div>
</li>