<p class="buttons">
    <span>
    <a href="{$app_url}run/account/display_song" class="btn more">Piosenki</a>
    <a href="{$app_url}run/account/display_arrange" class="btn more">Aranże</a>
    <a href="{$app_url}run/account/display_text" class="btn more">Teksty</a>
    </span>
    <a href="{$app_url}run/account/display_briefcase" class="btn more more2">Kreownia</a>
    <a href="{$app_url}run/account/display_favorite" class="btn more more2">Ulubione</a>
    <a href="{$app_url}run/account/display_payment" class="btn more more2">Konto</a>
    <a href="{$app_url}run/account/display_account" class="btn more more2">Moje dane</a>
</p>