{include file="extension/header.html"}
<section>
    <div class="container_12">
        <div class="wrapper">
            <!--==============================lewa strona====================================-->
            {include file="extension/addon_menuleft.html"}
            <!--==============================end lewa strona====================================-->
            <br>
            <article class="grid_9 prefix_1">
                <h2 class="border-bot"><span lang="pl">{$article[0].title}</span></h2>
                <div class="wrapper">
                    <div class="overflow">
                        <div class="txt-1 p11">{$article[0].header}</div>
                        <p class="MsoNormal">{$article[0].text}</p>
                        <p>&nbsp;</p>
                    </div>
                </div>
                <!--==============================end content====================================-->
        </div>
        </article>
    </div>
    {include file="extension/footer_section.html"}
</section>
{include file="extension/footer.html"}