{include file="extension/header.html"}
<section>
    <div class="container_12">
        <div class="wrapper">
            <!--==============================lewa strona====================================-->
            {include file="extension/addon_menuleft.html"}
            <!--==============================end lewa strona====================================-->
            <article class="grid_9 prefix_1">
                <div class="wrapper">
                    {if !$article}
                    nieznaleziono artykułu
                    {elseif $article_total == 1}
                            <!-- początek art -->
                            <div id="art-calosc">
                            <h3>{$article.title}</h3>
                            <span style="margin-top:-5px; font-size:1.1em">({$article.date_created})</span>
                            <Br/>
                            <Br/>
                            <img alt="" height="205" src="{$media_url}image/80x60/{$article.image}"
                                 width="170"><strong>{$article.text}</strong><span lang="pl"><strong>...</strong><br>
                            <br>{$article.text}</span><Br/><Br/>
                            <a class="button2" href="{$site_url}artykuly" style="float:right;">spis artykułów</a>
                            <!-- koniec art art -->
                    {else}
                        {foreach from=$article item=article}
                        <!-- początek art -->
                        <div id="art-jeden">
                            <h3>
                                <img alt="" height="150" src="{$media_url}image/80x60/{$article.image}" width="112">
                                <span lang="pl">{$article.title}</span></h3>
                            <span style="margin-top:-5px; font-size:1.1em">({$article.date_created})</span><Br/>
                            <Br/>
                            {$article.text}<Br/><Br/>
                            <a class="button3" href="{$site_url}artykul/{$article.id}">czytaj więcej</a>
                        </div>
                        <div id="linia"></div>
                        <!-- koniec art art -->
                        {/foreach}
                            {if ($current_page-1) != 0}
                                <a class="button2" href="{$site_url}artykuly,{$current_page-1}" style="float:left;">wstecz</a>
                            {/if}
                            {if !(($current_page+1) > $all_pages)}
                                <a class="button2" href="{$site_url}artykuly,{$current_page+1}" style="float:left; margin-left:3px;">dalej</a>
                            {/if}
                        </div>
                    {/if}
                    <div class="overflow">
                        <p>&nbsp;</p>
                    </div>
                </div>
                {include file="extension/footer_section.html"}
</section>
{include file="extension/footer.html"}