{include file="extension/header.html"}
<section xmlns="http://www.w3.org/1999/html">
    <div class="container_12">
        <div class="wrapper">
            <br/><br/>
            <!--==============================lewa strona====================================-->
           <!-- {include file="extension/addon_menuleft.html"}-->
            <!--==============================end lewa strona====================================-->
            <article class="grid_9 prefix_1" style="left: 0px; top: 0px; width: 880px">

                <div class="wrapper" style="left: 0px; top: 0px; width: 880px">
                    <div id="koszykk">
                        <h2 class="border-bot">Podsumowanie Zamówienia</h2>	 <br>
                        <span lang="pl"><br><br></span>
                        <div id="koszyk" >
                            <div id="koszyk-tabela">
                                <div id="koszyk-opis" style="width:530px">
                                    <strong>Opis</strong></div>
                                <div  id="koszyk-koszt">
                                    <strong>Koszt</strong></div>
                                <div  id="koszyk-opcje" style="width:164px">
                                    <strong>Okres Rezerwacji</strong></div>
                            </div>
                            <!-- jeden produkt -->

                            <div id="podzial-tabeli" >
                                <div  id="koszyk-opis2" style="width:530px">
                                    <img alt="" height="100" src="{$site_url}media/image/100x75/{$product.image1}" style="float: left" width="75" >
                                    <strong>{$product.vendor.title}
                                    </strong> <br>{$product.text1}<br>{$product.text2}<br></div>

                                <div  id="koszyk-koszt2" >
                                    <span lang="pl"><strong>{$product.end_price} zł</strong></span></div>
                                <div  id="koszyk-opcje2" style="width:164px">
                                    <span lang="pl"><strong>{$date_from} - {$date_to}</strong></span>
                                    </div>

                            </div>

                            <!-- koniec jeden produkt-->
                            <div id="podzial-tabeli" style="height:100px;" >
                                <div  id="koszyk-opis"  style="height:70px;" >
                                    <strong>Dane wysyłki</strong>
                                    <br>
                                    {$user.name} {$user.surname}<br>
                                    {if $user.shipment == 0}
                                        {$user.address}<br>
                                        {$user.zip} {$user.city}</br>
                                    {else}
                                        {$user.shipment_address}<br>
                                        {$user.shipment_zip} {$user.shipment_city}</br>
                                    {/if}
                                </div>

                                </div>
                            </div>
                            <div id="podzial-tabeli" style="height:37px;" >
                                <div  id="koszyk-opis" >
                                    <strong>Przesyłka</strong></div>
                                <div  id="koszyk-koszt" >
                                    <span lang="pl"><strong>20 zł</strong></span></div>
                            </div>
                            <!-- suma -->

                            <div id="koszyk-tabela">

                                <div id="koszyk-razem" >
                                    Razem: {$final_price} zł</div>

                            </div>
                        </div>

                        <!-- nawigacja dol -->

                        <div style="width:803px; display:block;overflow:hidden; margin-top:20px;">
                            <!--  <a class="button2" href="zamow.php" style="float:left;">PRZEGLĄDAJ DALEJ</a>-->
                            {include file="extension/payment24.html"}

                        </div>

                        <!-- koniec nawigacja dol -->

                    </div>

                    <br/>  <br/>
                <div class="overflow">
                    <p>&nbsp;</p>
                </div>



                <!--==============================end content====================================-->
            </article>
        </div>

    </div>
    {include file="extension/footer_section.html"}
</section>
{include file="extension/footer.html"}