{include file="extension/header.html"}
<section>
    <div class="container_12">
        <div class="wrapper">
            <br/><br/>
            <!--==============================lewa strona====================================-->
           <!-- {include file="extension/addon_menuleft.html"}-->
            <!--==============================end lewa strona====================================-->

            <article class="grid_9 prefix_1" style="left: 0px; top: 0px; width: 880px">

                <div class="wrapper" style="left: 0px; top: 0px; width: 880px">

                    <div id="koszykk">
                        <h2 class="border-bot">Podsumowanie:</h2>	 <br>
                        {$messages}
                    </div>
                    <br/>  <br/>               <div class="overflow">
                    <p>&nbsp;</p>
                </div>
                </div>


                <!--==============================end content====================================-->
            </article>
        </div>

    </div>
    {include file="extension/footer_section.html"}
</section>
{include file="extension/footer.html"}