{include file="extension/header.html"}
<section>
    <div class="container_12">
        <div class="wrapper">
            <!--==============================lewa strona====================================-->
            {include file="extension/addon_menuleft.html"}
            <!--==============================end lewa strona====================================-->

            <article class="grid_9 prefix_1">
                <h2 class="border-bot">kontakt z <span lang="pl"> nami</span></h2>
                <div class="wrapper">

                    <iframe scrolling="no" frameborder="0" style=" width: 607px; height: 488px;" src="{$site_url}contact/display_form" marginheight="12" marginwidth="12" name="I1">
                    </iframe>
                    <br/>  <br/>   <h2 class="border-bot">Śledź <span lang="pl"> Plo-ciuchy</span></h2>

                    <ul class="soc">
                        <li><a href="#"> <img alt="" src="images/icon-1.gif "> <img alt="" src="images/icon-1-active.gif " class="active" style="opacity: 0;"> </a></li>
                        <li><a href="#"> <img alt="" src="images/icon-2.gif "> <img alt="" src="images/icon-2-active.gif " class="active" style="opacity: 0;"> </a></li>
                        <li><a href="#"> <img alt="" src="images/icon-3.gif "> <img alt="" src="images/icon-3-active.gif " class="active" style="opacity: 0;"> </a></li>
                    </ul>               <div class="overflow">
                    <p>&nbsp;</p>
                </div>
                </div>
                <!--==============================end content====================================-->
        </div>
        </article>
    </div>
    {include file="extension/footer_section.html"}
</section>
{include file="extension/footer.html"}