{include file="extension/header.html"}
{include file="extension/home_slider.html"}
<section>
    <div class="container_12">
        <div class="wrapper">
            <!--==============================lewa strona====================================-->
            {include file="extension/addon_menuleft.html"}
            <!--==============================end lewa strona====================================-->
            <article class="grid_9 prefix_1">
                <h2 class="border-bot">Witamy</h2>
                <div class="wrapper">
                    <figure class="img-indent"><img src="{$site_url}images/page1-img1.jpg " alt=""/></figure>
                    <div class="overflow">
                        <div class="txt-1 p11">Jest to portal gdzie znajdziesz
                            najpiękniejsze ubrania na ważne dla Ciebie okazje.
                        </div>
                        <p class="MsoNormal">Jest to portal gdzie znajdziesz
                            najpiękniejsze ubrania na ważne dla Ciebie okazje. Przecież
                            każda z nas miała ten problem, kiedy otworzyła szafę a z niej
                            wypadła sterta ubrań, a mimo to nie było co na siebie włożyć!
                            Faceci nigdy tego nie zrozumieją, ale my mamy wtedy naprawdę
                            poważny problem. Dlatego wpadłam na pomysł założenia serwisu
                            plo-ciuchy.pl, gdzie chcę rozpowszechnić ten piękny czas jakim
                            było wymienianie się ubrań z najlepszymi przyjaciółkami i mogłam
                            założyć coś nowego nie musząc wydawać pieniędzy.
                            <o:p></o:p>
                        </p>
                        <p>&nbsp;</p>
                    </div>
                </div>
                <!--==============================jak dzialamy====================================-->
                {include file="extension/addon_howwework.html"}
                <!--==============================end jak dzialamy====================================-->
                <!--==============================wyrozniony ciuch===================================-->
                <div class="box-1">
                    <div class="wrapper">
                        <figure><img src="{$site_url}images/new.jpg" width="260" height="349"></figure>
                        <div class="overflow"><strong>NOWe ubranie <em>ARMANII</em></strong><span>ROZMIAR L</span>
                            <p>Maurilum socs otibuetgnrureugi suada aserera miaseras lerty swrtadse nertyda kertya diorbi nunc odiov cursusnec sitet ereis ft laoret aliquam leotsrskeasesteruan jertyaser dertyias keruioade fera kasertasena daget, elem veleleifend elitenean uctor wisi ealiqu raolutpat jertase neruads.</p>
                            <a href="more.html" class="link-1">zamów</a></div>
                    </div>
                </div>
                <!--==============================end wyrozniony ciuch===================================-->
        </div>
        </article>
    </div>
    {include file="extension/footer_section.html"}
</section>
{include file="extension/footer.html"}