{include file="extension/header.html"}
<section>
    <div class="container_12">
        <div class="wrapper">
            <br/><br/>
            <!--==============================lewa strona====================================-->
            {include file="extension/addon_partner_panel_menuleft.html"}
            <!--==============================end lewa strona====================================-->
            <!--==============================content====================================-->
            <article class="grid_9 prefix_1">
                <h2 class="border-bot">historia doładowań i obciążeń</h2>
                <div class="wrapper" style="left: 0px; top: 0px">
                    <div class="overflow">
                        {$messages}
                    <br/>
                        {if $account_history}
                        <div id="kolumny">
                            <div id="kolumny-szare">
                                <div id="kolumna1" style="width:399px;">
                                    <span lang="pl"><strong>Operacja</strong></span></div>
                                <div id="kolumna2" style="width: 122px" class="auto-style7">
                                    <span lang="pl"><strong>Data</strong></span></div>
                                <div id="kolumna6" >
                                    <span lang="pl"><strong>- / +</strong></span></div>
                                <div id="kolumna3" class="aligncenter" style="width: 60px" >
                                    <span lang="pl"><strong>Saldo</strong></span>
                                </div>
                            </div>
                            <!-- produkt -->
                            {foreach from=$account_history item=item}
                            <div id="kolumny-produkt2" >
                                <div id="kolumna1"  style="width:399px;">
                                    <span lang="pl">
                                        {if $item.type == income}
                                            Zasilenie konta
                                        {else}
                                            Wystawienie przedmiotu "{$item.product.text1}"
                                        {/if}
                                    </span>
                                </div>
                                <div id="kolumna2" style="width: 122px">
					            <span lang="pl">
					            {$item.date_added}</span>
                                </div>
                                <div id="kolumna6" >
									<span class="auto-style6" lang="pl">
                                    {if $item.type == income}
                                         <span class="auto-style16" lang="pl">
                                            <strong> + {$item.point} zł </strong>
                                         </span>
                                    {else}
                                        <span class="auto-style15" lang="pl">
                                            <strong> - {$item.koszt_wystawienia} zł </strong>
                                        </span>
                                    {/if}
                                    </span>
                                </div>

                                <div id="kolumna6" >
                                    <span lang="pl">{$item.point_available} zł</span>
                                </div>
                            </div>
                            {/foreach}
                            <!-- koniec produktu -->
                        </div>
                        {/if}
                    </div>
                    <!--==============================end content====================================-->
            <!--==============================end content====================================-->
            </article>
        </div>

    </div>
    {include file="extension/footer_section.html"}
</section>
{include file="extension/footer.html"}