{include file="extension/header.html"}
<section>
    <div class="container_12">
        <div class="wrapper">
            <br/><br/>
            <!--==============================lewa strona====================================-->
            {include file="extension/addon_partner_panel_menuleft.html"}
            <!--==============================end lewa strona====================================-->
            <!--==============================content====================================-->
            <article class="grid_9 prefix_1">
                <h2 class="border-bot"> {$title_page} </h2>
                {$messages}
                {if $user_products}
                <div id="kolumny">
                    <div id="kolumny-szare">
                        <div id="kolumna1">
                            <strong>Produkt</strong></div>
                        <div id="kolumna2">
                            <span lang="pl"><strong>Powód</strong></span></div>
                        <div id="kolumna3" class="aligncenter" >
                            <span lang="pl"><strong>Opcje</strong></span></div>
                    </div>
                    {foreach from=$user_products item=product}
                    <div id="kolumny-produkt" >
                        <div id="kolumna1" >
                            {$product.text1}</div>
                        <div id="kolumna2" >
                            <span lang="pl">{$product.rejected_reson.text1}<br/>{$product.rejected_reson.text2}</span></div>
                        <div class="aligncenter" >
                            <form id="delete_{$product.id}" name="delete" method="post" action="{$site_url}partner-panel-produkty-odrzucone"><input type="hidden" name="delete_prod" value="{$product.id}"></form>
                            <a href="javascript:void(0)" onclick="submit('delete_{$product.id}')"><img alt="" height="24" src="images/delete.png" width="24" ></a>
                        </div>
                    </div>
                    {/foreach}
                </div>
                {/if}
            <!--==============================end content====================================-->
            </article>
        </div>

    </div>
    {include file="extension/footer_section.html"}
</section>
{include file="extension/footer.html"}