{include file="extension/header.html"}
<section>
    <div class="container_12">
        <div class="wrapper">
            <br/><br/>
            <!--==============================lewa strona====================================-->
            {include file="extension/addon_partner_panel_menuleft.html"}
            <!--==============================end lewa strona====================================-->
            <!--==============================content====================================-->
            <article class="grid_9 prefix_1">

                {$messages}

            <!--==============================end content====================================-->
            </article>
        </div>

    </div>
    {include file="extension/footer_section.html"}
</section>
{include file="extension/footer.html"}