{include file="extension/header.html"}
Oto Formularz Platnosci:
<form action="https://sandbox.przelewy24.pl/index.php" method="post" class="form">
    <input type="text" name="p24_session_id" value="{$p24_session_id}" />
    <input type="text" name="p24_id_sprzedawcy" value="{$p24_id_sprzedawcy}" />
    <input type="text" name="p24_kwota" value="{$p24_kwota}" />
    <input type="text" name="p24_opis" value="TYTUŁ" />
    <input type="text" name="p24_klient" value="Jan Kowalski" />
    <input type="text" name="p24_adres" value="ul. Polska 33/33" />
    <input type="text" name="p24_kod" value="66-777" />
    <input type="text" name="p24_miasto" value="Poznań" />
    <input type="text" name="p24_kraj" value="PL" />
    <input type="text" name="p24_email" value="robert.osiadacz@tworzeniestron.pl" />
    <input type="text" name="p24_language" value="pl" />
    <input type="text" name="p24_return_url_ok" value="http://www.plo-ciuchy.pl/console/index.php/main/run/plociuchy:payment_p24_user/payment_p24_ok_ui" />
    <input type="text" name="p24_return_url_error" value="http://www.plo-ciuchy.pl/console/index.php/main/run/plociuchy:payment_p24_user/payment_p24_error_ui" />
    <input type="hidden" name="p24_crc" value="{$p24_crc}" />
    <input name="submit_send" value="wyślij" type="submit" />
</form>
{include file="extension/footer.html"}