{include file="extension/header.html"}
<section>
    <div class="container_12">
        <div class="wrapper">
            <br/><br/>
            <!--==============================lewa strona====================================-->
            {include file="extension/addon_panel_menuleft.html"}
            <!--==============================end lewa strona====================================-->
            <!--==============================content====================================-->
            <article class="grid_9 prefix_1">
                <h2 class="border-bot">Zamówienia </h2>
                {$messages}
                <strong>Aktualne zamówienia:</strong><br>
                <div id="ok">Aktualnie nie posiadasz żadnych zamówień.</div>
                <br>
                <div id="kolumny">
                    <div id="kolumny-szare">
                        <div id="kolumna1">
                            <strong>Produkt</strong></div>
                        <div id="kolumna2">
                            <strong>Wypożyczający</strong></div>
                        <div id="kolumna2" >
                            <strong>Status</strong></div>

                        <div id="kolumna3" >
                            <span lang="pl"><strong>Data</strong></span></div>

                    </div>
                    <div id="kolumny-produkt" >
                        <div id="kolumna1" >
                            <a href="#">Różowa sukienka ze wstążką pod biustem</a></div>
                        <div id="kolumna2">Nick</div>
                        <div id="kolumna2" >W trakcie wysyłki</div>

                        <div >
                            <span lang="pl">22.02.2012</span></div>
                    </div>
                </div>
                <br/><br/><br/>
                <p></p>
                <p></p>
                <strong>Historia:</strong>
                <br>
                <div id="ok">Nie dokonałaś jeszcze żadnego zamówienia.</div>
                <br/>

                <div id="kolumny">
                    <div id="kolumny-szare">
                        <div id="kolumna1">
                            <strong>Produkt</strong></div>
                        <div id="kolumna2">
                            <strong>Wypożyczający</strong></div>
                        <div id="kolumna2" >
                            <strong>Status</strong></div>

                        <div id="kolumna3" >
                            <span lang="pl"><strong>Data</strong></span></div>

                    </div>
                    <div id="kolumny-produkt" >
                        <div id="kolumna1" >
                            <a href="#">Różowa sukienka ze wstążką pod biustem</a></div>
                        <div id="kolumna2">Nick</div>
                        <div id="kolumna2" >W trakcie wysyłki</div>
                        <div>
                            <span lang="pl">22.02.2012</span></div>
                    </div>
                </div>
    <!--==============================end content====================================-->
            </article>
        </div>

    </div>
    {include file="extension/footer_section.html"}
</section>
{include file="extension/footer.html"}